/* General */
*, ::before, ::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Karla','Noto Sans TC',sans-serif;
    color: #666;
}

html, body {
    font-size: 12px;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

html.scrollHidden {
    overflow: hidden !important;
}

#landscapeContent {
    display: none;
}

/* navigation */

nav {
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    position: fixed;
    background: hsla(0,0%,100%,.85);
    transition: 1s all ease;
    z-index: 2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

nav.invisibleNav {
    transform: translateY(-130px);
}

nav.addShadow {
    box-shadow: 0px 5px 25px rgba(194, 194, 194, .25);
    transition: 1s all ease;
}

nav > .nav-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.nav-container > .logo{
    display: block;
    padding: 30px 0;
    max-width: 300px;
    float: left;
}

.logo a {
    font-size: 1.55em;
    font-weight: 600;
    text-align: left;
    color: rgb(133, 133, 133);
    transition: 0.15s all linear;
}

.logo a:hover {
    color: rgb(78, 78, 78);
}

/* nav-menu */

.menuBtn {
    display: none;
}

.nav-container > .nav-menu {
    margin: 22px 0;
    float: right;
}

.nav-menu ul {
    font-size: 1.3em;
    width: 100%;   
    letter-spacing: .15px;
}

.nav-menu li {
    display: inline;
    margin: 0 20px;
}

.nav-menu li:last-child {
    margin: 0 0 0 20px;
}

/* nav-menu li animate link */

.nav-menu li a {
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    font-weight: 500;
    position: relative;
    display: inline-block;
    transition: 0.25s all ease;
    color: rgb(133, 133, 133);
}

.nav-menu li a:hover {
    transform: translateY(1px);
    color: rgb(54, 54, 54);
}

.nav-menu:hover > ul.nav-btn:hover a{
    opacity: 0.5;
}

.nav-menu:hover > ul.nav-btn:hover a:hover {
    opacity: 1;
}

.nav-menu li a::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 30px;
    left: 0;
    right: 0;
    background-color: rgb(139, 139, 139);
    opacity: 0.5;
    transition: .25s all ease;
    /* transform-origin: bottom left; */
    transform: scaleX(0);
}

.nav-menu li a:hover::before {
    transition: .25s all ease;
    /* transform-origin: bottom right; */
    transform: scaleX(1);
}

.nav-menu li:last-child a::before {
    display: none;
}

.nav-menu li:last-child a:hover::before {
    display: none;
}

.nav-menu li:last-child a {
    color: white;
    background: linear-gradient(270deg,#46f3b9, #2eb0fc);
    text-shadow: 0px 5px 15px rgba(53, 53, 53, 0.5);
    padding: 10px;
    border-radius: 10px;
    opacity: .65;
    transition: .25s all ease-in;
}

.nav-menu li:last-child a:hover {
    color: white !important;
    opacity: 1;
    transition: .25s all ease-out;
}

.nav-menu li:last-child i {
    color: white;
    text-shadow: 0px 5px 15px rgba(53, 53, 53, 0.5);
}

/* deco-line */

#decoration-line {
    padding-top: 83px;
    position: relative;
    display: block;
}

.line {
    height: 1px;
    background: linear-gradient(270deg,#d4ffff 0, #61ffca 12%, #34b5ff 58%, #92efff 79%, #d4ffff);
    background-size: 200% 100%;
    background-position: 0 0;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 1180px;
    animation: light-line 2s linear infinite;
}

@keyframes light-line {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 200% 100%;
    }
}

/* deco-line nav-inner */

#decoration-line_nav {
    display: none;
}

/* main */

main#container {
    padding-bottom: 100px;
}

/* project-main-navigator */

section#project-main-navigator {
    width: 100%;
    margin-bottom: 200px;
}

section#project-main-navigator .container {
    margin: 0 auto;
    max-width: 1280px;
}

section#project-main-navigator .container .title {
    position: relative;
    display: block;
    max-width: 1110px;
    margin: 0 6.75% 100px;
    text-align: left;
}

section#project-main-navigator .container .title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(177, 177, 177, .25);
    top: 85px;
}

section#project-main-navigator .container .title > h3 {
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: .5px;
    color: rgb(133,133,133);
    position: relative;
    display: block;
}

section#project-main-navigator .container .title > h3::after {
    content: "";
    position: absolute;
    min-width: 100px;
    height: 2px;
    top: 83px;
    left: 0;
    background: rgb(133, 133, 133);
}

.container ul.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

ul.nav li.navi-btn {
    width: calc(100%/2.5);
    cursor: pointer;
    color: rgb(54, 54, 54);
}

li.navi-btn h4 {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Noto Sans TC', sans-serif;
}

li.navi-btn p {
    font-size: 2.25em;
    padding: 15px 0 0;
    font-weight: 100;
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    text-shadow: 0px 0px 15px rgb(189, 189, 189);
}

li.navi-btn a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover !important;
    height: 350px;
    border-radius: 0px;
    transition: .35s all ease;
    box-shadow: 0px 15px 35px -15px rgba(0, 0, 0, .25);
    border-radius: 5px;
}

li.navi-btn a .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .35s all ease;
    border-radius: 5px;
}

li.navi-btn a .prev-con {
    align-items: flex-start;
    padding-left: calc(100%/10);
    transform: translateX(-15px);
}

li.navi-btn a .next-con {
    align-items: flex-end;
    padding-right: calc(100%/10);
    transform: translateX(15px);
}

li.navi-btn a:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 35px -15px rgba(0, 0, 0, .1);
}

li.navi-btn a:hover .content {
    background-color: rgba(255, 255, 255, .95);
    transform: translateX(0px);
    opacity: 1;
}


/* footer */

footer#footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 103px;
    background: hsla(0, 0%, 100%, .85);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 1s all ease;
    z-index: 1;
}

footer.invisibleFooter {
    transform: translateY(130px);
}

footer.addShadow {
    box-shadow: 0px -5px 25px rgba(194, 194, 194, .25);
    transition: 1s all ease;
}

footer#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(40deg,#d4ffff 0, #78ffd2 12%, #66c7ff 58%, #92efff 79%, #d4ffff);
    background-size: 200% 100%;
    animation: light-border 3s ease infinite;
}

@keyframes light-border {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 200% 100%;
    }
} 

#footer-container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-cta, .footer-link {
    width: 50%;
}

.footer-cta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-cta .column:first-child {
    margin-right: 30px;
}

.footer-cta .column > span {
    font-size: 4em;
}

.footer-cta h3 {
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(240deg,#52f1bc, #4db9f8);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.footer-cta h3:first-child {
    font-weight: 400;
    font-size: 1.35em;
    margin-bottom: 10px;
}

h3.h3-footer-eng {
    letter-spacing: 0px;
    font-size: 1.25em;
}

.footer-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-link > ul.footer-link-btn:hover a {
    opacity: .5;
    transition: 0.25s all ease;
}

.footer-link > ul.footer-link-btn:hover a:hover {
    opacity: 1;
}

ul.footer-link-btn {
    margin-bottom: 10px;
}

.footer-link li {
    display: inline;
    margin-left: 65px;
}

.footer-link li:first-child {
    margin-left: 0;
}

.footer-link i {
    font-size: 2.5em;
    color: rgb(177, 177, 177);
    transition: 0.25s all linear;
}

.footer-link i.fa-paper-plane:hover {
    color: #34b5ff;
}

.footer-link i.fa-linkedin-in:hover {
    color: #0077b5;
}

.footer-link i.fa-behance:hover {
    color: #1769ff;
}

.footer-link i.fa-dribbble:hover {
    color: #ea4c89;
}

.footer-link p {
    color: rgb(159, 159, 159);
}

/* 1180+margin left 25+right 25 */

@media all and (max-width: 1229px) {

    /* nav deco-line */

    #decoration-line {
        margin: 0 25px;
    }

    /* main */

    main#container {
        padding-bottom: 75px;
    }

    /* project-main-navigator */

    li.navi-btn a {
        height: 275px;
    }

    /* footer */

    footer#footer {
        padding: 0 25px;
    }

    .footer-container {
        align-items: flex-end;
    }
    
}

@media all and (max-width: 980px) {

    /* footer */

    footer#footer {
        min-height: 89px;
    }

    .footer-container {
        padding: 15px 0;
    }

    .footer-cta .column > span {
        font-size: 3.75em;
    }

    .footer-link li {
        margin-left: 70px;
    }

    .footer-link i {
        font-size: 2em;
    }

    /* project-main-navigator */

    section#project-main-navigator {
        margin-bottom: 150px;
    }

    section#project-main-navigator .container .title::after {
        top: 75px;
    }

    section#project-main-navigator .container .title > h3 {
        font-size: 2.25em;
    }

    section#project-main-navigator .container .title > h3::after {
        top: 73px;
    }


    li.navi-btn h4 {
        font-size: 1.5em;
    }

    li.navi-btn p {
        font-size: 1.65em;
    }

}

@media screen and (max-width: 900px) and (max-height: 650px) and (orientation: landscape) {

    #wrapper {
        display: none;
    }

    #landscapeContent {
        display: flex !important;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        user-select: none;
        background: white;
    }

    #landscapeContent::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        background: url(../img/index/index_pattern.svg);
        background-size: cover;
        z-index: -1;
        opacity: 0.5;
    }

    .notAllow {
        padding: 0 75px;
    }

    .notAllow p {
        font-family: 'Karla', 'Noto Sans TC', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.4em;
        line-height: 2.2em;
        letter-spacing: 0.5px;
        margin-bottom: 30px;
        text-align: left;
    }

    .notAllow span {
        color: #3a3a3a;
        font-weight: 700;
        padding-bottom: 5px;
        border-bottom: 1px solid #3a3a3a;
    }
}

@media all and (max-width: 800px) {

    .logo a {
        font-size: 1.5em;
    }

    .nav-menu ul {
        font-size: 1.3em;
    }
    
    .nav-menu li {
        margin: 0 15px;
    }

    .nav-menu li:last-child {
        margin: 0 0 0 15px;
    }
}

@media all and (max-width: 767px) {

    nav.invisibleNav {
        transform: translateY(-90px);
    }

    /* logo */

    .nav-container > .logo{
        padding: 21px 0;
        max-width: 200px;
        position: relative;
        z-index: 1;
    }

    .logo a {
        font-size: 1.35em;
    }

    /* deco-line */

    #decoration-line {
        padding-top: 62px;
    }

    .line {
        height: 1px;
    }

    /* deco-line nav-inner */

    #decoration-line_nav {
        display: block;
        position: relative;
        margin: 0 25px;
        z-index: 1;
        top: 1px;
    }

    .line_nav {
        height: 1px;
        background: linear-gradient(270deg,#d4ffff 0, #61ffca 12%, #34b5ff 58%, #92efff 79%, #d4ffff);
        background-size: 200% 100%;
        background-position: 0 0;
        margin: 0 auto;
        animation: light-line 2s linear infinite;
    }

    /* nav-menu disappear */

    .nav-menu {
        display: none;
    }

    /* .nav-menu open */

    .nav-menu.collapse::before{
        content: "";
        display: table;
        clear: both;
    }

    .nav-menu.collapse {
        display: block;
        position: relative;
        float: none;
        margin: 0 -25px;
        box-shadow: 0px 100px 100px rgba(230, 230, 230, 0.5);
        animation: fadeIn .5s;
    }

    .nav-menu.collapse ul {
        text-align: left;
        padding: 0 25px;
        height: 100vh;
        animation: none;
        overflow: hidden;
        z-index: 1;
    }
    
    .nav-menu.collapse li {
        display: block;
        margin: 30px 0;
        font-size: 1.05em;
        animation: fadeInDown .5s;
    }

    /* nav-menu open animate link */

    .nav-menu li a {
        position: relative;
        display: inline-block;
        transition: .3s all linear;
    }

    .nav-menu li a:hover {
        transform: translateX(5px);
        transition: .3s all ease-in-out;
    }

    .nav-menu li a::before {
        display: none;
    }

    .nav-menu li a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a::before {
        display: none;
    }

    .nav-menu li:last-child a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a {
        transform: none;
        margin-top: 15px;
    }

    /* nav-Btn for mobile */

    .menuBtn {
        display: block;
        position: relative;
        width: 23px;
        margin: 22px 0;
        float: right;
        cursor: pointer;
        z-index: 1;
    }
    
    .menuBtn li {
        display: block; 
        height: 3px;
        margin-bottom: 4px;
        background-color: rgb(173, 173, 173);
        border-radius: 30px;
        transition: 0.25s linear;
    }

    .menuBtn li:last-child {
        margin-bottom: 0px;
    }

    .manuBtn.btnActive li {
        cursor: pointer;
    }

    .menuBtn.btnActive li:first-child {
        transform: translateY(7px) rotate(45deg);
        transition: 0.25s all ease;
        background-color: rgb(78, 78, 78);
    }

    .menuBtn.btnActive li:nth-child(2) {
        opacity: 0;
        transition: 0.25s all ease;
    }

    .menuBtn.btnActive li:last-child {
        transform: translateY(-7px) rotate(-45deg);
        transition: 0.25s all ease;
        background-color: rgb(78, 78, 78);
    }

    /* main */

    main#container {
        padding-bottom: 50px;
    }

    /* project-main-navigator */

    section#project-main-navigator {
        margin-bottom: 100px;
    }

    section#project-main-navigator .container .title::after {
        top: 70px;
    }

    section#project-main-navigator .container .title > h3 {
        font-size: 1.85em;
    }

    section#project-main-navigator .container .title > h3::after {
        top: 68px;
    }

    .container ul.nav {
        flex-direction: column;
        padding: 0 6.75%;
    }

    ul.nav li.navi-btn {
        width: 100%;
    }

    ul.nav li.prev-btn {
        padding-bottom: 50px;
    }

    li.navi-btn a {
        height: 350px;
    }

    li.navi-btn h4 {
        font-size: 1.25em;
    }

    li.navi-btn p {
        font-size: 1.5em;
    }
    

    /* footer */

    footer#footer {
        min-height: 64px;
    }

    footer.invisibleFooter {
        transform: translateY(85px);
    }

    .footer-container {
        flex-direction: column;
        padding: 20px 0;
    }

    .footer-cta, .footer-link {
        width: 100%;
    }

    .footer-cta, .footer-link p {
        display: none;
    }

    /* .footer-cta > .column:first-child {
        margin: -5px 20px 0 0;
    }

    .footer-cta .column > span {
        font-size: 2.75em;
        margin-top: -10px;
    }

    .footer-cta h3 {
        background: linear-gradient(270deg,#52f1bc, #4db9f8);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;  
        text-align: center; 
    }

    .footer-cta h3:first-child {
        font-size: 1.1em;
        line-height: 1.1em;
    }

    h3.h3-footer-eng {
        font-size: 1em;
        line-height: 2.5em;
    } */

    .footer-link {
        align-items: center;
    }

    ul.footer-link-btn {
        margin: 0;
    }

    .footer-link i {
        font-size: 2em;
        opacity: .5;
    }

    .footer-link i:hover {
        opacity: 1;
    }

    .footer-link li {
        margin-left: 60px;
    }

    .footer-link li:first-child {
        margin-left: 0 !important;
    }
    
    .footer-link i.fa-paper-plane {
        color: #34b5ff;
    }
    
    .footer-link i.fa-linkedin-in {
        color: #0077b5;
    }
    
    .footer-link i.fa-behance {
        color: #1769ff;
    }
    
    .footer-link i.fa-dribbble {
        color: #ea4c89;
    }

}

@media all and (max-width: 580px) {

    /* project-main-navigator */

    li.navi-btn a {
        height: 225px;
    }

}

