.container {
  position: relative;
  top: 100px;
  width: 50%;
  padding: 50px;
  display: block;
  text-align: center;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 0px 75px rgba(56, 56, 56, 0.2);
  border-radius: 10px;
}

.container h2 {
  line-height: 36px;
}

.list {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  line-height: 25px;
}

li {
  display: inline;
  padding: 0 10px 0 0;
}

a:hover {
  color: rgb(94, 156, 243);
  border-bottom: 1px solid;
}