/* general set */

header#header .container {
    max-width: 1080px;
    margin: 0 auto;
}

/* header */

header#header {
    position: relative;
    padding-top: 50px;
}

header#header .container {
    display: flex;
    flex-direction: row;
}

/* img */

header#header aside.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 35%;
}

header#header aside.img img.profile {
    max-width: 250px;
    display: block;
    position: absolute;
    margin-top: 100px;
    animation: 2s move infinite;
    border-radius: 250px;
    z-index: 1;
    box-shadow: 0px 20px 50px rgba(124, 124, 124, 0.3);
}

@keyframes move {
    0% {
        top: 0px;
    }
    50% {
        top: 5px;
        box-shadow: 0px 5px 20px rgba(124, 124, 124, 0.5);
    }
    100% {
        top: 0px;
    }
} 

header#header aside.img img.pattern {
    max-width: 500px;
    z-index: -1;
    overflow: hidden;
    animation: 2s opacity-pattern infinite;
    transform: rotate(45deg) !important;
    margin-top: -50px;
}

@keyframes opacity-pattern {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
} 


/* parapraph text */

header#header .container .paragraph {
    width: 65%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header#header .container .paragraph h1 {
    display: inline-block;
    font-weight: 400;
    font-size: 4.5em;
    margin-bottom: 40px;
    margin-left: -2px;
    border-radius: 15px;
    color: rgba(32, 204, 216, .75);
}

span.wave {
    animation: wave-animation 2s ease infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(25deg);
    }
    30% {
        transform: rotate(-30deg);
    }
    45% {
        transform: rotate(15deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(35deg);
    }
    90% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

header#header .container .paragraph h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 2em;
    color: rgb(139, 139, 139);
}

.paragraph p {
    font-weight: 400;
    font-style: normal;
    font-size: 1.85em;
    line-height: 2.15em;
    letter-spacing: 0.25px;
    display: block;
    margin: 40px 0;
    color: #666;
}

.paragraph a:first-child {
    color: #ff3366;
}

.paragraph a:hover:first-child {
    opacity: 1;
}

.paragraph a:nth-child(2) {
    color: #C24631;
}

.paragraph a:last-child {
    color: rgb(0, 0, 0);
}

.paragraph a:hover {
    opacity: 1;
}

/* work area */

/* container */

main#container {
    width: 100%;
    margin: -200px auto 0;
}

/* project */


section#project {
    width: 100%;
    display: block;
    position: relative;
    padding: 0 25px;
}

section#project header.title {
    position: relative;
    display: block;
    margin-bottom: -50px;
    z-index: 1;
}

section#project header.title::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}

section#project header.title::after {
    content: "\f063";
    position: relative;
    display: block;
    width: 100px;
    height: 65px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: rgb(201, 201, 201);
    margin: 40px auto -150px;
    animation: 1s scroll ease infinite; 
}

@keyframes scroll {
    0% {
        top: 0;
    }

    50% {
        top: 15px;
    }

    to {
        top: 0;
    }
} 

section#project header.title h2 {
    max-width: 300px;
    font-size: 2.5em;
    text-align: center;
    background: linear-gradient(90deg ,rgb(22, 230, 181), rgb(74, 206, 254) 60%, rgb(22, 230, 181));
    background-size: 200% 100%;
    background-position: 0 0;
    color: white;
    padding: 20px 25px;
    margin: 0 auto;
    /* border-left: 10px solid rgb(203, 255, 238); */
    border-radius: 150px;
    text-transform: uppercase;
    box-shadow: 0px 10px 40px -10px rgba(116, 116, 116, 0.3);
    text-shadow: 0px 5px 14px rgba(124, 124, 124, .2);
    animation: 2s title-scroll-line linear infinite;
}

@keyframes title-scroll-line {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

section#project main.container {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(240, 240, 240, 0.5), rgb(255,255,255) 70%,rgba(237, 237, 237, .35));
    /* padding: 200px 0 50px; */
    padding: 225px calc(5vw * 3.5) 100px;
    border-radius: 25px;
}

section#project main.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

section#project aside.grid {
    /* max-width: 1280px; */
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    margin: 0 auto;
    padding: 100px 50px 25px;
}

section#project aside.grid ul.grid-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

section#project aside.grid a#grid-outer {
    width: 45%;
    transition: .2s all ease;
    padding: 25px;
    margin: 0 0 50px;
    border-radius: 25px;
    position: relative;
}

section#project aside.grid a#grid-outer:hover{
    box-shadow: -4px 9px 95px -10px rgba(0, 0, 0, .15);
    background-color: rgb(255,255,255);
    transform: scale(1.015);
}

section#project aside.grid a#grid-outer:active {
    transform: scale(0.985);
}

section#project aside.grid ul.grid-container:hover a {
    opacity: .5;
    transition: .25s all linear;
}

section#project aside.grid ul.grid-container:hover a:hover {
    opacity: 1;
}

li#grid-inner {
    display: block;
    position: relative;
}

li#grid-inner .title {
    display: block;
    position: relative;
    margin: 50px 0;
}

li#grid-inner .title::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(231, 231, 231);
    top: 25px;
}

li#grid-inner .title h3 {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
    transition: .15s all linear;
}

li#grid-inner .title h3::after {
    content: "";
    position: relative;
    display: block;
    width: 35px;
    height: 1px;
    background: rgb(167, 167, 167);
    top: 25px;
    z-index: 1;
}

li#grid-inner p,
li#grid-inner p.eng-grid-p {
    font-size: 1.35em;
    line-height: 2.15em;
    font-weight: 400;
    letter-spacing: .25px;
}

li#grid-inner p.eng-grid-p {
    margin: 15px 0;
    color: rgb(179, 179, 179);
}

li#grid-inner img {
    width: 100%;
    transition: .25s all ease;
    box-shadow: 0px 27px 55px -21px rgba(54, 54, 54, .25);
    border-radius: 25px;
}

li#grid-inner:hover img {
    transform: scale(0.985) translateY(5px);
    box-shadow: none;
}

li#grid-inner .tag {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .5s all ease;
    animation: 3s morphing linear infinite;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 1;
    transform: scale(1);
    top: -15px;
    right: 0px;
}

@keyframes morphing {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      25% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
      }
      50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
      }
      75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
      }
}

li#grid-inner:hover .tag {
    transform: scale(1.15);
    box-shadow: 0px 15px 45px -15px rgba(0, 0, 0, 0.5);
}

li#grid-inner .tag-ui-ux {
    background: linear-gradient(45deg,rgb(255, 51, 102) 0,rgb(244, 113, 43));
}

li#grid-inner .tag-web {
    background: linear-gradient(45deg,rgb(51, 255, 201) 0,rgb(43, 167, 244));
}

li#grid-inner .tag-visual {
    background: linear-gradient(45deg,rgb(158, 88, 255) 0,rgb(74, 27, 216));
}

/* about */

section#about {
    padding: 50px 0;
}

section#about .container  {
    display: block;
    position: relative;
    width: 100%;
}

/* about-header */

section#about header {
    display: block;
    position: relative;
    margin: 100px 0 50px;
}

section#about header .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
}

section#about header .wrapper::before,
section#about header .wrapper::after {
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background: rgba(124, 124, 124, 0.25);
}

section#about header .wrapper::before {
    left: 0;
    top: -50px;
}

section#about header .wrapper::after {
    right: 0;
    bottom: -50px;
}

section#about header .wrapper .column {
    display: block;
    position: relative;
}

section#about header .wrapper .zh {
    width: 45%;
}

section#about header .wrapper .en {
    width: 55%;
}

section#about header .wrapper .column h2 {
    display: block;
    position: relative;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.5px;
}

section#about header .wrapper .zh h2 {
    font-size: 2em;
}

section#about header .wrapper .en h2 {
    font-size: 1.65em;
    text-align: right;
    color: rgba(139, 139, 139, .5);
    font-weight: 700;
}

/* about-main */

section#about main {
    margin: 125px 0 0;
}

section#about main .content {
    max-width: 1080px;
    margin: 0 auto;
}

section#about .pics {
    display: flex;
    position: relative;
    padding: 25px 0 40px;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

section#about .pics::before {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 40%, rgb(157, 255, 222));
    animation: 2.5s about-image-scroll linear infinite;
    left: -100px;
    top: -50px;
    z-index: -1;
}

section#about .pics .container::before {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    left: -50px;
    top: -25px;
    z-index: -1;
}

@keyframes about-image-scroll {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

section#about .pics::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(173, 225, 255));
    animation: 3.5s about-image-scrolls linear infinite;
    right: -100px;
    bottom: -25px;
    z-index: -2;
}

section#about .pics .container::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    right: -50px;
    bottom: -15px;
    z-index: -1;
}

@keyframes about-image-scrolls {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

section#about .pics img {
    width: 90%;
    border-radius: 25px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 25px 55px -36px rgba(0, 0, 0, .5);
    transition: .5s all ease;
}

section#about .pics img:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 67px -15px rgba(0, 0, 0, .25);
}

section.summary {
    padding: 25px 0 75px;
}

section.summary p {
    font-size: 1.75em;
    line-height: 2.15em;
    padding: 25px 0;
    font-weight: 400;
    letter-spacing: 0.5px;
}

section.summary p.eng {
    color: rgba(116, 116, 116, 0.5);
}

section.expertise header {
    display: block;
    position: relative;
    padding-bottom: 80px;
    margin: 0 !important;
}

section.expertise header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(177, 177, 177, 0.25);
    top: 85px;
}

section.expertise header h1 {
    font-size: 2.5em;
}

section.expertise header h1::after {
    content: "";
    position: absolute;
    width: 7.5%;
    height: 2px;
    background: rgba(63, 63, 63, .5);
    top: 84px;
    left: 0;
}

section.expertise ul.container {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

section.expertise ul.container li {
    width: 30%;
    margin: 20px 0 25px 0;
}

section.expertise ul.container .title {
    min-height: 90px;
    display: block;
    position: relative;
}

section.expertise ul.container .title h2 {
    font-size: 1.85em;
    line-height: 2.15em;
    font-weight: 700;
}

section.expertise ul.container .title h3 {
    font-size: 1.5em;
    line-height: 1.85em;
}

section.expertise ul.container p {
    font-weight: 400;
    font-size: 1.35em;
    line-height: 2em;
    display: block;
    margin: 15px 0 25px 0;
}

@media all and (min-width: 1441px) and (max-width: 2000px) {

    section#project main.container {
        padding: 200px calc(5vw * 1.95) 100px;
    }
    
}

@media all and (max-width: 1440px) {

    section#project main.container {
        padding: 200px calc(5vw * 1.75) 100px;
    }

}

@media all and (max-width: 1300px) {

    section#project main.container {
        padding: 200px 3vw 50px;
    }

    section#project aside.grid {
        border-radius: 25px;
    }

}

@media all and (max-width: 1229px) {

    /* general */

    section#about > .container {
        padding: 0 25px;
    }
    

    /* header */

    header#header {
        padding: 25px 25px 0;
    }

    /* parapraph text */

    header#header .container .paragraph {
        width: 75%;
        padding-top: 30px;
        justify-content: center;
    }

    header#header .container .paragraph h1 {
        font-size: 3.5em;
    }

    header#header .container .paragraph h3 {
        font-size: 1.85em;
        line-height: 2em;
    }

    header#header .container .paragraph p {
        font-size: 1.55em;
    }

    /* img */

    header#header aside.img {
        margin: 10px 0 0 0;
    }

    header#header aside.img img.profile {
        max-width: 200px;
    }

    header#header aside.img img.pattern {
        width: 90%;
        margin-top: -25px;
    }

    /* work area */

    /* project */

    main#container {
        width: 100%;
        margin: -50px auto 0;
    }

    section#project header.title {
        margin-bottom: -35px;   
    }

    section#project header.title h2 {
        font-size: 2.25em;
        max-width: 250px;
        padding: 20px;
    }

    section#project aside.grid {
        padding: 25px 0;
    }

    section#project aside.grid a#grid-outer {
        margin: 0 0 25px;
    }

    li#grid-inner .title {
        margin: 35px 0 50px;
    }

    li#grid-inner .title h3 {
        font-size: 1.85em;
    }

    li#grid-inner .title h3::after {
        width: 30px;
    }
    

    /* about */

    /* about-header */

    section#about header .wrapper .zh h2 {
        font-size: 1.7em;
    }

    section#about header .wrapper .en h2 {
        font-size: 1.5em;
    }

    section.summary p {
        font-size: 1.7em;
        line-height: 2.1em;
    }

    /* about-main */

    section.expertise header {
        padding-bottom: 60px;
    }

    section.expertise header::after {
        top: 70px;
    }

    section.expertise header h1 {
        font-size: 2em;
    }

    section.expertise header h1::after {
        top: 69px;
    }

    section.expertise ul.container li .title {
        min-height: 85px;
    }
    
    section.expertise ul.container .title h2 {
        font-size: 1.65em;
    }
    
    section.expertise ul.container .title h3 {
        font-size: 1.4em;
        line-height: 1.85em;
    }
    
    section.expertise ul.container p {
        font-size: 1.35em;
        margin: 10px 0 20px 0;
    }

}

@media all and (max-width: 980px) {

    header#header .container .paragraph {
        padding-top: 35px;
    }

    header#header .container .paragraph h3 {
        font-size: 1.75em;
        line-height: 1.9em;
    }

    header#header .container .paragraph p {
        font-size: 1.5em;
    }

    /* project */

    section#project header.title h2 {
        font-size: 2.25em;
        max-width: 240px;
    }

    li#grid-inner img {
        border-radius: 15px;
    }

    li#grid-inner .title h3 {
        font-size: 1.75em;
    }

    li#grid-inner p {
        line-height: 2.1em;
    }

    /* about */

    /* about-header */

    section#about header .wrapper .zh {
        width: 40%;
    }

    section#about header .wrapper .en {
        width: 60%;
    }

    section#about header .wrapper.zh h2 {
        font-size: 1.65em;
    }

    section#about header .wrapper .en h2 {
        font-size: 1.35em;
    }

    section.summary p {
        font-size: 1.65em;
        line-height: 2em;
    }

    /* about-main */

    section.expertise ul.container li {
        width: 45%;
        margin: 15px 0 25px 0;
    }

}

@media all and (max-width: 767px) {

    header#header {
        padding: 0 25px;
    }

    header#header .container {
        flex-direction: column-reverse;
    }

    main#container {
        margin: -25px auto 0;
    }

    /* img */

    header#header aside.img {
        width: 100%;
        margin: 0;
    }

    header#header aside.img img.profile {
        position: relative;
        max-width: 185px;
        margin: 50px auto;
        animation: move 2s infinite;
        box-shadow: 0px 20px 40px rgba(202, 202, 202, 0.2);
    }

    header#header aside.img img.pattern {
        position: absolute;
        max-width: 300px;
        transform: rotate(45deg) !important;
        top: -50px;
        z-index: -2;
    }

    /* parapraph text */

    header#header .container .paragraph {
        padding: 50px 25px 0;
        width: 100%;
    }

    header#header .container .paragraph h1 {
        font-size: 2.5em;
        margin-bottom: 25px;
    }

    header#header .container .paragraph h3 {
        font-size: 1.5em;
        line-height: 2em;
    }
    
    .paragraph p {
        font-size: 1.35em !important;
        line-height: 2.25em;
        margin: 25px 0;
    }

    /* work area */

    /* container */

    section#project header.title {
        margin-bottom: -35px;   
    }

    section#project header.title::after {
        margin: 30px auto -120px;
    }

    section#project header.title h2 {
        font-size: 1.75em;
        max-width: 200px;
        padding: 15px;
    }

    section#project main.container {
        padding-top: 150px;
    }


    /* project */

    section#project aside.grid {
        border-radius: 0;
        background: initial;
        padding: 0;

    }

    section#project aside.grid a#grid-outer {
        width: 95%;
    }

    section#project aside.grid a:first-child:hover::before,
    section#project aside.grid a:nth-child(2):hover::before {
        font-size: 4em;
    }

    section#project aside.grid a:first-child:hover::after,
    section#project aside.grid a:nth-child(2):hover::after {
        top: 57.5%;
        font-size: 1.75em;
    }

    section#project aside.grid a#grid-outer:last-child {
        margin: 0 auto !important;
    }

    li#grid-inner p.eng-grid-p {
        font-size: 1.2em;
    }

    li#grid-inner .tag {
        width: 55px;
        height: 55px;
        animation: 2s morphing linear infinite;
        font-size: 1em;
        font-weight: 600;
    }
    
    li#grid-inner:hover .tag {
        transform: scale(1.15);
    }

    /* about */

    /* about-header */

    .about-header {
        margin-top: 50px !important;
    }

    section#about header .wrapper::before {
        top: -25px;
    }
    
    section#about header .wrapper::after {
        bottom: -25px;
    }

    section#about header .wrapper .column {
        width: 100% !important;
        padding: 15px 0;
    }

    section#about header .wrapper .zh h2 {
        font-size: 1.5em;
    }

    section#about header .wrapper .en h2 {
        font-size: 1.25em;
        text-align: left;
    }

    section#about main {
        margin: 85px 0 0px;
    }

    section.summary p {
        font-size: 1.5em;
    }   

    section#about .pics {
        padding: 30px 0;
    }

    section#about .pics img {
        width: 95%;
        border-radius: 10px;
    }

    section#about .pics::before {
        width: 200px;
        height: 200px;
        left: -75px;
        top: -45px;
    }
    
    section#about .pics::after {
        width: 200px;
        height: 200px;
        right: -75px;
        bottom: -45px;
    }

    section#about .pics .container::before {
        width: 150px;
        height: 150px;
        left: -50px;
        top: -45px;
    }
    
    section#about .pics .container::after {
        width: 150px;
        height: 150px;
        right: -50px;
        bottom: -45px;
    }

    section#about .pics img{
        box-shadow: 0px 25px 55px -36px rgba(0, 0, 0, .35);
    }

    /* about-main */

    section.expertise header {
        padding-bottom: 50px;
    }

    section.expertise header::after {
        top: 60px;
    }

    section.expertise header h1 {
        font-size: 1.85em;
    }

    section.expertise header h1::after {
        width: 10%;
        top: 59px;
    }

    section.expertise ul.container li {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    section.expertise ul.container li .title {
        min-height: 75px;
    }

    section.expertise ul.container .title h2 {
        font-size: 1.5em;
    }

    section.expertise ul.container .title h3 {
        font-size: 1.35em;
    }

    section.expertise ul.container p {
        font-size: 1.3em;
    }
}


@media all and (max-width: 550px) {

    /* parapraph text */

    header#header .container .paragraph {
        padding: 25px 15px 0;
    }

    /* container */

    /* project */
    
    section#project header.title::after {
        margin: 30px auto -125px;
        font-size: 2.75em;
    }

    li#grid-inner .title h3 {
        font-size: 1.45em;
    }

    li#grid-inner .title h3::after {
        width: 35px;
    }

    li#grid-inner p, li#grid-inner span {
        font-size: 1.25em;
    }

    /* li#grid-inner span::before {
        top: 25px;
    } */

    section#about main {
        margin: 80px 0 0px;
    }

    section.summary p {
        font-size: 1.3em;
    }

    /* about */

    section#about .pics {
        padding: 25px 0;
    }

    section.expertise ul.container p {
        font-size: 1.25em;
    }

}