/* general set */

#header-container, 
.project-grid {
    max-width: 1080px;
    margin: 0 auto;
}

.project-grid {
    max-width: 1180px;
}

/* header */

header#header {
    position: relative;
    padding-top: 65px;
}

/* img */

.img {
    display: block;
    position: relative;
    float: right;
    margin: -20px 0 0;
}

img.profile {
    max-width: 250px;
    display: block;
    position: absolute;
    margin-top: 100px;
    animation: 2s move infinite;
    border-radius: 250px;
    z-index: 1;
    box-shadow: 0px 20px 50px rgba(124, 124, 124, 0.3);

}

@keyframes move {
    0% {
        top: 0px;
    }
    50% {
        top: 5px;
        box-shadow: 0px 5px 20px rgba(124, 124, 124, 0.5);
    }
    100% {
        top: 0px;
    }
} 

img.pattern {
    max-width: 300px;
    z-index: -1;
    overflow: hidden;
    animation: 2s opacity-pattern infinite;
}

@keyframes opacity-pattern {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
} 

/* parapraph text */


#header-container > .paragraph {
    width: 65%;
    padding-top: 25px;
}

#header-container > .paragraph h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 4.5em;
    margin-bottom: 40px;
    margin-left: -2px;
    color: rgb(32, 204, 216);
}

span.wave {
    animation: wave-animation 2s ease infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    15% {
        transform: rotate(25deg);
    }
    30% {
        transform: rotate(-30deg);
    }
    45% {
        transform: rotate(15deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(35deg);
    }
    90% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#header-container > .paragraph h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 2em;
    color: rgb(139, 139, 139);
}

.paragraph p {
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.85em;
    line-height: 2.15em;
    letter-spacing: 0.25px;
    display: block;
    margin: 40px 0;
    color: #666;
}

.paragraph a {
    font-family: 'Karla', 'ar-udjingxiheib5', sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: 0.25s all ease;
    opacity: .45;
}

.paragraph a:first-child {
    color: #ff3366;
}

.paragraph a:hover:first-child {
    opacity: 1;
}

.paragraph a:nth-child(2) {
    color: #C24631;
}

.paragraph a:last-child {
    color: rgb(0, 0, 0);
}

.paragraph a:hover {
    opacity: 1;
}

/* line-intro list */

/* .link {
    position: relative;
    display: block;
    font-size: 2em;
    margin: 50px 0;
}

.link li {
    display: inline;
    margin: 0 15px;
}

.link li:first-child {
    margin-left: 0;
}

.linkedin {
    color: #0077b5;
}

.behance {
    color: #1769ff;
}

.dribbble {
    color: #ea4c89;
}

.link a {
    transition: .15s all linear;
} */

/* work area */

/* container */

main#container {
    width: 100%;
    margin: 0 auto;
}

/* project */


section#project {
    width: 100%;
    display: block;
    position: relative;
}

.project-title {
    position: relative;
    display: block;
    margin-bottom: -50px;
    z-index: 1;
}

.project-title::before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 65px;
}

.project-title::after {
    content: "\f063";
    position: relative;
    display: block;
    width: 100px;
    height: 65px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: rgb(201, 201, 201);
    margin: 40px auto -170px;
    animation: 1s scroll ease infinite; 
}

@keyframes scroll {
    0% {
        top: 0;
    }

    50% {
        top: 15px;
    }

    to {
        top: 0;
    }
} 

.project-title h2 {
    max-width: 300px;
    font-size: 2.5em;
    text-align: center;
    background: linear-gradient(90deg ,rgb(22, 230, 181), rgb(74, 206, 254) 60%, rgb(22, 230, 181));
    background-size: 200% 100%;
    background-position: 0 0;
    color: white;
    padding: 20px 25px;
    margin: 0 auto;
    /* border-left: 10px solid rgb(203, 255, 238); */
    border-radius: 150px;
    text-transform: uppercase;
    box-shadow: 0px 10px 40px -10px rgba(116, 116, 116, 0.3);
    text-shadow: 0px 5px 14px rgba(124, 124, 124, .2);
    animation: 2s title-scroll-line linear infinite;
}

@keyframes title-scroll-line {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: 0% 100%;
    }
}

section#project .project-main-container {
    max-width: 1280px;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 35px;
    background: linear-gradient(180deg, rgba(240, 240, 240, 0.5), rgb(255,255,255) 70%,rgba(237, 237, 237, .35));
    padding: 200px 0 0;
}

.project-main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.project-grid {
    position: relative;
    padding-bottom: 50px;
}

.project-grid ul.grid-box.grid-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.project-grid a.grid-container {
    width: 47.5%;
    margin-bottom: 2em;
    transition: .5s all ease;
    padding: 50px 30px;
    border-radius: 25px;
}

.project-grid a.grid-container:hover{
    box-shadow: -4px 9px 35px -6px rgba(0, 0, 0, .15);
    background-color: rgb(255,255,255);
    transform: translateY(10px);
}

.project-grid ul.grid-box.grid-box:hover a {
    opacity: .25;
    transition: .25s all linear;
}

.project-grid ul.grid-box.grid-box:hover a:hover {
    opacity: 1;
}

li.grid-inner {
    display: block;
    position: relative;
}

li.grid-inner .title {
    display: block;
    position: relative;
    margin: 50px 0;
}

li.grid-inner .title::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    background: rgb(223, 223, 223);
    top: 25px;
}

li.grid-inner .title h3 {
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    font-size: 2.15em;
    font-weight: 600;
    transition: .15s all linear;
}

li.grid-inner .title h3::after {
    content: "";
    position: relative;
    display: block;
    width: 65px;
    height: 1px;
    background: rgb(147, 147, 147);
    top: 25px;
}

li.grid-inner p {
    font-family: 'Karla', 'ar-udjingxiheib5', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 400;
    letter-spacing: .25px;
}

li.grid-inner > p.eng-grid-p {
    margin: 15px 0;
    font-size: 1.35em;
    color: rgb(179, 179, 179);
}

li.grid-inner img {
    width: 100%;
    transition: .5s all ease;
    box-shadow: 0px 27px 65px -30px rgba(54, 54, 54, .35);
    border-radius: 25px;
}

li.grid-inner:hover img {
    transform: scale(1.05);
    box-shadow: none;
}

/* li.grid-inner span {
    display: inline-block;
    position: relative;
    margin-top: 25px;
    font-size: 1.75em;
    color: rgb(173, 173, 173);
    transition: .25s all linear;
}

li.grid-inner span::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 30px;
    left: 0;
    right: 0;
    transition: .25s all ease;
    transform: scaleX(0);
} */

/* li.grid-inner:hover > span {
    color: #67c1fd;
    transform: translateY(3px);
}

li.grid-inner:hover > span::before {
    transform: scaleX(1);
    background-color: #67c1fd;
} */

li.grid-inner .tag {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', sans-serif;
    transition: .5s all ease;
    animation: 3s morphing linear infinite;
    font-size: 1.25em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    z-index: 2;
    transform: scale(1);
    top: -15px;
    right: 0px;
}

@keyframes morphing {
      0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
      }
      25% {
        border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
      }
      50% {
        border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
      }
      75% {
        border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
      }
}

/* li.grid-inner .tag-odd {
    top: -25px;
    left: -15px;
}

li.grid-inner .tag-even {
    top: -25px;
    right: -15px;
} */

li.grid-inner:hover .tag {
    transform: scale(1.15);
    box-shadow: 0px 15px 45px -15px rgba(0, 0, 0, 0.5);
}

li.grid-inner .tag-ui-ux {
    background: linear-gradient(45deg,rgb(255, 51, 102) 0,rgb(244, 113, 43));
}

li.grid-inner .tag-web {
    background: linear-gradient(45deg,rgb(51, 255, 201) 0,rgb(43, 167, 244));
}

li.grid-inner .tag-visual {
    background: linear-gradient(45deg,rgb(158, 88, 255) 0,rgb(74, 27, 216));
}

/* about */

section#about {
    padding: 50px 0 25px;
}

.about-container  {
    display: block;
    position: relative;
    width: 100%;
}

/* about-header */

header.about-header {
    display: block;
    position: relative;
    margin: 100px 0 50px;
}

.about-header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
}

.about-header-container::before, .about-header-container::after {
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    background: rgba(124, 124, 124, 0.25);
}

.about-header-container::before {
    left: 0;
    top: -50px;
}

.about-header-container::after {
    right: 0;
    bottom: -50px;
}

.about-header-container > .column {
    display: block;
    position: relative;
}

.about-header-container > .zh {
    width: 45%;
}

.about-header-container > .en {
    width: 55%;
}

.about-header-container > .column h2 {
    display: block;
    position: relative;
    line-height: 2em;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.about-header-container > .zh h2 {
    font-size: 2em;
}

.about-header-container > .en h2 {
    font-size: 1.65em;
    text-align: right;
    color: rgba(139, 139, 139, .5);
    font-weight: 200;
}

/* about-main */

main.about-main {
    margin: 125px 0 0;
}

.about-main-container {
    max-width: 1080px;
    margin: 0 auto;
}

.about-image {
    display: flex;
    position: relative;
    padding: 25px 0 40px;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

.about-image::before {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 40%, rgb(157, 255, 222));
    animation: 2.5s about-image-scroll linear infinite;
    left: -100px;
    top: -50px;
    z-index: -1;
}

.about-image-container::before {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    left: -50px;
    top: -25px;
    z-index: -1;
}

@keyframes about-image-scroll {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.about-image::after {
    content: "";
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 30%, rgb(173, 225, 255));
    animation: 3.5s about-image-scrolls linear infinite;
    right: -100px;
    bottom: -25px;
    z-index: -1;
}

.about-image-container::after {
    content: "";
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: white;
    right: -50px;
    bottom: -15px;
    z-index: -1;
}

@keyframes about-image-scrolls {
    0% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.about-image img.about-img {
    width: 97.5%;
    border-radius: 0px 25px;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 25px 55px -36px rgba(0, 0, 0, .5);
    transition: .5s all ease;
}

.about-image img.about-img:hover {
    transform: translateY(10px);
    box-shadow: 0px 0px 67px -15px rgba(0, 0, 0, .25);
}

blockquote.about-main-header {
    padding-bottom: 50px;
}

blockquote.about-main-header p {
    font-size: 1.75em;
    line-height: 2.2em;
    margin: 50px 0;
    font-family: 'Karla', 'ar-udjingxiheib5', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.p-about-eng {
    color: rgba(116, 116, 116, 0.5);
}

header.expertise-header {
    display: block;
    position: relative;
    padding-bottom: 80px;
}

header.expertise-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(177, 177, 177, 0.25);
    top: 85px;
}

header.expertise-header h1 {
    font-size: 2.5em;
}

header.expertise-header h1::after {
    content: "";
    position: absolute;
    width: 7.5%;
    height: 2px;
    background: rgba(63, 63, 63, .5);
    top: 84px;
    left: 0;
}

.about-main-expertise > ul.expertise-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

ul.expertise-content li {
    width: 30%;
    margin: 20px 0 25px 0;
}

ul.expertise-content .title {
    min-height: 90px;
    display: block;
    position: relative;
}

ul.expertise-content .title h2 {
    font-size: 1.85em;
    line-height: 2em;
    font-weight: 400;
}

ul.expertise-content .title h3 {
    font-size: 1.6em;
    line-height: 1.85em;
}

ul.expertise-content p {
    font-family: 'Karla', 'ar-udjingxiheib5', sans-serif;
    font-size: 1.5em;
    line-height: 2em;
    display: block;
    margin: 15px 0 25px 0;
}

@media all and (max-width: 1490px) {
    section#project {
        padding: 0 25px;
    }
}

@media all and (max-width: 1229px) {

    /* general */

    .about-container {
        padding: 0 25px;
    }

    /* header */

    header#header {
        padding: 25px 25px 0;
    }

    /* parapraph text */

    #header-container > .paragraph {
        width: 75%;
        padding-top: 25px;
    }

    #header-container > .paragraph h1 {
        font-size: 3.5em;
    }

    #header-container > .paragraph h3 {
        font-size: 1.85em;
        line-height: 2em;
    }

    #header-container > .paragraph p {
        font-size: 1.55em;
    }

    /* img */

    .img {
        margin: 10px 0 0 0;
    }

    img.profile {
        max-width: 200px;
        margin-left: 65px;
        margin-top: 100px;
    }

    img.pattern {
        width: 85%;
        float: right;
        margin-top: 15px;
    }

    /* work area */

    /* container */

    section#project {
        padding: 0 25px 25px;
    }

    section#project .project-main-container {
        border-radius: 15px;
        padding-top: 175px;
        margin: 0;
    }

    /* project */

    .project-title {
        margin-bottom: -35px;   
    }

    .project-title h2 {
        font-size: 2.35em;
        max-width: 250px;
        padding: 20px;
    }

    .project-grid ul.grid-box {
        justify-content: space-evenly;
    }

    .project-grid a.grid-container {
        width: 45%;
        margin-bottom: 20px;
        padding: 35px 30px 50px;
    }

    li.grid-inner .title {
        margin: 35px 0 50px;
    }

    li.grid-inner .title h3 {
        font-size: 2em;
    }

    li.grid-inner .title h3::after {
        width: 50px;
    }

    /* about */

    /* about-header */

    .about-header-container > .zh h2 {
        font-size: 1.7em;
    }

    .about-header-container > .en h2 {
        font-size: 1.5em;
    }

    blockquote.about-main-header p {
        font-size: 1.7em;
        line-height: 2.1em;
    }

    /* about-main */

    header.expertise-header {
        padding-bottom: 60px;
    }

    header.expertise-header::after {
        top: 70px;
    }

    header.expertise-header > h1 {
        font-size: 2em;
    }

    header.expertise-header h1::after {
        top: 69px;
    }

    ul.expertise-content li > .title {
        min-height: 85px;
    }
    
    ul.expertise-content .title h2 {
        font-size: 1.65em;
    }
    
    ul.expertise-content .title h3 {
        font-size: 1.4em;
        line-height: 1.85em;
    }
    
    ul.expertise-content p {
        font-family: 'Karla', 'ar-udjingxiheib5', sans-serif;
        font-size: 1.35em;
        line-height: 2em;
        display: block;
        margin: 10px 0 20px 0;
    }

}

@media all and (max-width: 980px) {

    #header-container > .paragraph {
        padding-top: 35px;
    }

    #header-container > .paragraph h3 {
        font-size: 1.75em;
        line-height: 1.9em;
    }

    #header-container > .paragraph p {
        font-size: 1.5em;
    }

    /* project */

    .project-title h2 {
        font-size: 2.25em;
        max-width: 240px;
    }

    li.grid-inner .title h3 {
        font-size: 1.75em;
    }

    li.grid-inner p {
        font-size: 1.35em;
        line-height: 1.9em;
    }

    li.grid-inner > p.eng-grid-p {
        font-size: 1.25em;
    }

    /* li.grid-inner span {
        font-size: 1.5em;
    }

    li.grid-inner span::before {
        top: 30px;
    } */

    /* about */

    /* about-header */

    .about-header-container > .zh {
        width: 40%;
    }

    .about-header-container > .en {
        width: 60%;
    }

    .about-header-container> .zh h2 {
        font-size: 1.65em;
    }

    .about-header-container > .en h2 {
        font-size: 1.35em;
    }

    blockquote.about-main-header p {
        font-size: 1.65em;
        line-height: 2em;
    }

    /* about-main */

    ul.expertise-content li {
        width: 45%;
        margin: 15px 0 35px 0;
    }

}

@media all and (max-width: 767px) {

    header#header {
        padding: 0 25px;
    }

    /* img */

    .img::before, .img::after {
        content: "";
        display: table;
    }

    .img {
        width: 100%;
        margin: 0;
    }

    img.profile {
        position: relative;
        max-width: 175px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
        animation: move 2s infinite;
        box-shadow: 0px 20px 40px rgba(202, 202, 202, 0.2);
    }

    img.pattern {
        position: absolute;
        width: 250px;
        transform: rotate(45deg) !important;
        margin-top: -350px;
        margin-left: 26.5%;
        z-index: -2;
    }

    /* parapraph text */

    #header-container > .paragraph {
        padding: 50px 25px 0;
        width: 100%;
    }

    #header-container > .paragraph h1 {
        font-size: 2.5em;
        margin-bottom: 25px;
    }

    #header-container > .paragraph h3 {
        font-size: 1.5em;
        line-height: 2em;
    }
    
    .paragraph p {
        font-size: 1.35em !important;
        line-height: 2.25em;
        margin: 25px 0;
    }

    /* line-intro list */

    /* .link {
        font-size: 1.5em;
        margin: 30px 0 0 2px ;
    }
    
    .link li {
        margin: 0 10px;
    } */

    /* work area */

    /* container */

    
    section#project {
        padding: 0 25px;
    }

    section#project .project-main-container {
        padding-top: 140px;
    }

    .project-title {
        margin-bottom: -35px;   
    }

    .project-title::after {
        margin: 30px auto -120px;
    }

    .project-title h2 {
        font-size: 1.75em;
        max-width: 200px;
        padding: 15px;
    }

    /* project */

    .project-grid a.grid-container {
        width: 95%;
        margin: 0 auto;
        padding: 30px 25px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    li.grid-inner .title h3 {
        font-size: 1.65em;
    }

    li.grid-inner p {
        font-size: 1.25em;
        line-height: 2em;
    }

    li.grid-inner > p.eng-grid-p {
        font-size: 1.2em;
    }

    /* li.grid-inner span {
        margin: 10px 0 15px 0;
    }

    li.grid-inner span::before {
        top: 30px;
    } */

    li.grid-inner .tag {
        width: 55px;
        height: 55px;
        animation: 2s morphing linear infinite;
        font-size: 1em;
        font-weight: 600;
    }
    
    li.grid-inner:hover .tag {
        transform: scale(1.15);
    }

    /* about */

    /* about-header */

    .about-header {
        margin-top: 50px !important;
    }

    .about-header-container::before {
        top: -25px;
    }
    
    .about-header-container::after {
        bottom: -25px;
    }

    .about-header-container > .column {
        width: 100% !important;
        padding: 15px 0;
    }

    .about-header-container > .zh h2 {
        font-size: 1.5em;
    }

    .about-header-container > .en h2 {
        font-size: 1.25em;
        text-align: left;
    }

    main.about-main {
        margin: 85px 0 0px;
    }

    blockquote.about-main-header p {
        font-size: 1.5em;
    }   

    .about-image {
        padding: 30px 0;
    }

    .about-image img.about-img {
        width: 95%;
    }

    .about-image::before {
        width: 200px;
        height: 200px;
        left: -75px;
        top: -45px;
    }
    
    .about-image::after {
        width: 200px;
        height: 200px;
        right: -75px;
        bottom: -45px;
    }

    .about-image-container::before {
        width: 150px;
        height: 150px;
        left: -50px;
        top: -45px;
    }
    
    .about-image-container::after {
        width: 150px;
        height: 150px;
        right: -50px;
        bottom: -45px;
    }

    .about-image img.about-img {
        box-shadow: 0px 25px 55px -36px rgba(0, 0, 0, .35);
    }

    /* about-main */

    header.expertise-header {
        padding-bottom: 50px;
    }

    header.expertise-header::after {
        top: 60px;
    }

    header.expertise-header h1 {
        font-size: 1.85em;
    }

    header.expertise-header h1::after {
        width: 10%;
        top: 59px;
    }

    ul.expertise-content li {
        width: 100%;
        margin: 10px 0 20px 0;
    }

    ul.expertise-content li > .title {
        min-height: 75px;
    }

    ul.expertise-content .title h2 {
        font-size: 1.5em;
    }

    ul.expertise-content .title h3 {
        font-size: 1.35em;
    }

    ul.expertise-content li > p {
        font-size: 1.3em;
    }
}


@media all and (max-width: 550px) {

    /* parapraph text */

    #header-container > .paragraph {
        padding: 250px 25px 25px;
    }

    /* container */

    /* project */

    .project-title::before {
        height: 20px;
    }

    .project-title::after {
        margin: 30px auto -140px;
        font-size: 2.75em;
    }

    .project-grid a.grid-container {
        padding: 35px 25px !important;
    }

    li.grid-inner .title h3 {
        font-size: 1.45em;
    }

    li.grid-inner .title h3::after {
        width: 35px;
    }

    li.grid-inner p, li.grid-inner span {
        font-size: 1.25em;
    }

    /* li.grid-inner span::before {
        top: 25px;
    } */

    main.about-main {
        margin: 80px 0 0px;
    }

    blockquote.about-main-header p {
        font-size: 1.35em;
    }

    /* about */

    .about-image {
        padding: 25px 0;
    }

}