* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #333;
}

.fixedBar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #f1f1f1
}

.progress {
    width: 100%;
    height: 10px;
}

.progress-container {
    background: rgb(255, 161, 145);
    box-shadow: 0px 10px 30px -5px rgb(0,0,0,.5);
}

.progress-bar {
    background: linear-gradient(78deg, rgb(255, 187, 174) 59%, #C24631 93%);
}

#backBtn {
    display: inline-block;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    top: 55px;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.3s top ease-in;
}

#backBtn a {
    width: 250px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 50px;
    background: #C24631;
    color: white;
    transition: 0.2s all ease;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.4);
    display: inline-block;
}

#backBtn a:hover {
    background: rgb(150, 40, 21);
    color: white;
    transform: translateY(3px);
    transition: 0.2s all ease;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.2);
}

#backBtn a i {
    color: white;
    margin-right: 10px;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
}

p {
    font-weight: 300;
}

header {
    margin: 0 auto;
    position: relative;
    padding-top: 190px;
    text-align: center;
    background: url('../img/project/p01/p01_header_circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    margin-top: 50px;
    height: 480px;
}

.name img {
    width: 160px;
}

.name p {
    margin-top: 25px;
    margin-right: 5px;
    font-size: 15px;
}

.category {
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    background: #C24631;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.category p {
    font-size: 12px;
    color: white;
}

#main, .overview, .challenge, .solution {
    margin: 0 auto;
    display: block;
    max-width: 960px;
}

.bg-title {
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 8px #333 solid;
    line-height: 20px;
    font-size: 24px !important;
    color: #333 !important;
    margin-bottom: 50px !important;
}

.overview {
    background: white;
    position: relative;
    padding: 30px;
}

.overview h1 {
    margin: 20px 0;
    letter-spacing: 0.5px;
    color: rgb(212, 83, 83);
    font-size: 22px;
}

.overview p {
    text-align: justify;
    line-height: 34px;
    font-size: 16px;
    padding-left: 10px;
    text-align: justify;
    margin-bottom: 30px;
}


.challenge, .solution {
    padding: 20px 30px;
}

.challenge::before, .solution::before {
    content: '';
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    border-bottom: 1px #eee solid;
    max-width: 720px;
}

.persona {
    padding: 20px 0;
}

.challenge h1, .solution h1 {
    text-transform: uppercase;
    padding-left: 10px;
    border-left: 8px #333 solid;
    line-height: 20px;
    font-size: 24px;
}

.challenge h2, .solution h2 {
    color: rgb(212, 83, 83);
    margin-left: 18px;
    font-size: 18px;
    line-height: 24px;
}

.challenge p, .solution p {
    font-size: 16px;
    padding-left: 18px;
    margin: 35px 0;
    line-height: 34px;
    text-align: justify;
}

.solution p {
    margin: 35px 0 45px 0;
}

ul, ol {
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
    line-height: 34px;
}

.column {
    padding-top: 50px;
    margin: 0 auto;
}

.column h3 {
    font-size: 16px;
    border-left: 7px rgb(97, 12, 12) solid;
    line-height: 15px;
    color: rgb(97, 12, 12);
    padding-left: 10px;
    letter-spacing: 0.5px;
    margin-bottom: -10px
}

.column .image {
    max-width: 780px;
    padding: 25px 0 25px 12px;
    margin: 0 auto;
    text-align: center;
}


.image img, .persona img {
    width: 100%;
    display: block;
    transition: 0.5s all ease-in;
    padding: 15px 0;
}

.image :hover, .persona img:hover {
    transform: scale(0.99);
    transition: 0.5s all ease-in-out;
    box-shadow: 0px 0px 0px -5px rgba(0,0,0,0.2);
}

.mobile-img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

.image span {
    padding: 25px 0;
    display: inline-block;
    color: rgb(141, 141, 141);
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1px;
}

.special-img {
    max-width: 590px;
    display: block;
    margin: 0 auto;
}

.flow-chart {
    max-width: 400px;
    display: block;
    margin: 0 auto;
} 

footer, footer img, .full-image, .full-image img {
    width: 100%;
}

.panel {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    padding: 60px 0;
    transition: 0.3s all ease;
}

.prevProject {
    display: block;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(99deg, rgb(194,70,49) 39%, rgb(214, 101, 81) 123%);
    border-radius: 50px;
    padding: 15px 30px;
    transition: 0.3s all ease;
    box-shadow: 0px -15px 30px -20px rgba(0,0,0,.4);
    margin-bottom: 30px;
}

.prevProject:hover {
    cursor: pointer;
    transition: 0.3s all ease;
    transform: scale(0.99);
    box-shadow: 0px -10px 30px -20px rgba(0,0,0,.3);
}

.prevProject::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgba(214, 101, 81, .5);
    border-radius: 50px;
    transform-origin: center;
    transform: scale(1);
}

.prevProject:hover::before {
    transition: all 0.35s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.prevProject i {
    float: left;
    color: white;
    font-size: 30px;
    margin-top: 15px;
}

.Headingp {
    text-align: right;
    color: #333;
}

.Headingp h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    text-shadow: 1px 2px 5px rgba(0,0,0,.3);
    font-weight: 600;
}

.Headingp p {
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
    color: white;
}

.nextProject {
    display: block;
    position: relative;
    margin: 0 auto;
    background: linear-gradient(-136deg, rgb(221, 45, 168) 4%, rgb(255, 114, 168) 93%);
    border-radius: 50px;
    padding: 15px 30px;
    transition: 0.3s all ease;
    box-shadow: 0px 15px 30px -20px rgba(0,0,0,.4);
}

.nextProject:hover {
    cursor: pointer;
    transition: 0.3s all ease;
    transform: scale(0.99);
    box-shadow: 0px 10px 30px -20px rgba(0,0,0,.3);
}

.nextProject::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid rgb(255, 175, 231);
    border-radius: 50px;
    transform-origin: center;
    transform: scale(1);
}

.nextProject:hover::before {
    transition: all 0.35s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.pHeading {
    text-align: left;
    color: #333;
}

.pHeading h3 {
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    text-shadow: 1px 2px 5px rgba(0,0,0,.3);
    font-weight: 600;
}

.pHeading p {
    font-size: 14px;
    line-height: 34px;
    font-weight: 300;
    color: white;
}

.nextProject i {
    float: right;
    margin-top: -47px;
    color: white;
    font-size: 30px;
}

.link {
    margin-bottom: 100px;
    text-align: center;
}

.link a {
    display: inline-block;
    margin: 0 40px;
    position: relative;
    font-weight: 700;
    font-size: 1.5em;
    transition: 0.3s all ease;
}

.link a:nth-child(1):before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #3ae0b4;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:nth-child(2):before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: rgb(0,119,181);
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:nth-child(3):before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #1769ff;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:nth-child(4):before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #333;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.link a:hover {
    opacity: 0.75;
    transform: translateY(3px);
    transition: 0.3s all ease;
}

.link :hover:nth-child(1) {
    color: #3ae0b4;
    transition: 0.3s all ease;
}

.link :hover:nth-child(2) {
    color: rgb(0,119,181);
    transition: 0.3s all ease;
}

.link :hover:nth-child(3) {
    color: #1769ff;
    transition: 0.3s all ease;
}
.link :hover:nth-child(4) {
    color: #333;
    transition: 0.3s all ease;
}

.link a:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.link::before {
    content: '';
    display: block;
    left: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
    /* border-bottom: 1px #eee solid; */
    /* width: 70%; */
}

@media (min-width: 1600px) {
    .mobile_footer, #mobile_backBtn, .p-mobile, .mobile {
        display: none;
    }
}

@media (max-width: 1600px) {
    .mobile_footer, #mobile_backBtn, .p-mobile, .mobile {
        display: none;
    }
}

@media (max-width: 990px) {
    .sec1_intro img {
        width: 95%;
    }
}

@media (max-width: 820px) {
    .link a {
        font-size: 23px;
        margin: 0 30px;
    }
}

@media (max-width: 768px) {
    .p-desktop {
        display: none;
    }
    .p-mobile {
        display: block;
    }
    #backBtn {
        display: none;
    }
    .mobile {
        display: flex;
    }
    #mobile_backBtn {
        display: inline-block;
        position: fixed;
        z-index: 5;
        width: 100%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        top: 50px;
        font-size: 13px;
        letter-spacing: 0.5px;
        transition: 0.3s top ease-in;
        
    }
    #mobile_backBtn a {
        width: 140px;
        padding: 10px 5px;
        border-radius: 50px;
        background: #C24631;
        color: white;
        transition: 0.3s all ease;
        box-shadow: 0px 10px 30px -10px rgba(0,0,0,0.4);
        display: inline-block;
    }
    #mobile_backBtn a:hover {
        transform: translateY(5px);
        background: rgb(150, 40, 21);
        transition: 0.3s all ease;
        box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.2);
    }
    #mobile_backBtn a i {
        color: white;
        margin-right: 10px;
    }
    .panel {
        max-width: 370px;
    }
}


@media (max-width: 725px) {
    .link a {
        font-size: 20px;
        margin: 0 20px;
    }
}

@media (max-width: 580px) {
    header {
        padding-top: 120px;
        height: 400px;
        background-size: 400px;
        margin-top: 60px;
    }
    .name img {
        width: 150px !important;
    }
    
    .name p {
        margin-top: 20px !important;
        font-size: 16px !important;
    }

    .category {
        padding: 8px !important;
        font-size: 14px;
        width: 110px !important;
    }

    .bg-title, .challenge h1, .solution h1 {
        font-size: 18px !important;
        padding-left: 7px;
        border-left: 5px #333 solid;
        line-height: 15px;
    }

    .overview h1 {
        font-size: 18px;
    }

    .overview p, .challenge p, .solution p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 20px;
        padding-left: 12px;
    }

    .challenge h2, .solution h2 {
        font-size: 16px;
        margin-left: 12px;
    }

    ul, ol {
        font-size: 14px;
        line-height: 28px;
    }

    .image span {
        color: rgb(136, 136, 136);
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 25px;
    }

    .column h3 {
        font-size: 15px;
        border-left: 5px rgb(97, 12, 12) solid;
        line-height: 14px;
        padding-left: 7px;
    }

    .mobile_footer {
        display: block;
        background-color: white;
        color: white;
        height: 70px;
        line-height: 60px;
        width: 100%;
        bottom: 0;
        position: fixed;
        overflow: hidden;
        text-align: center;
        box-shadow: 0px -10px 30px -20px rgb(0,0,0,0.2);
        border-top: 5px #42f4c5 solid;
        z-index: 1;
    }
    .mobile_footer a {
        margin: 0 5px;
        position: relative;
        font-weight: 700;
        font-size: 16px;
        transition: 0.2s all ease;
        opacity: 0.75;
    }
    .mobile_footer :nth-child(1) {
        color: #3ae0b4;
    }
    .mobile_footer :nth-child(2) {
        color: rgb(0,119,181);
    }
    .mobile_footer :nth-child(3) {
        color: #1769ff;
    }
    .mobile_footer a:nth-child(4) {
        color: #333;
    }
    .mobile_footer a:hover {
        opacity: 1;
        transition: 0.2s all ease;
        font-size: 16px;
    }
    .link {
        display: none;
    }
    .prevProject, .nextProject {
        width: 300px;
    }
    .pHeading h3, .Headingp h3 {
        font-size: 10px;
        letter-spacing: 0.25px;
        line-height: 25px;
    }
    .pHeading p, .Headingp p {
        font-size: 12px;
        line-height: 28px;
    }
    .prevProject i {
        margin-top: 18px;
        font-size: 20px;
    }
    .nextProject i {
        margin-top: -35px;
        font-size: 20px;
    }
    .panel {
        padding: 30px 0 130px 0;
    }
}

@media (max-width: 395px) {
    .mobile_footer {
        height: 60px;
        line-height: 50px;
        display: block;
    }
    .mobile_footer a {
        margin: 0 5px;
        font-size: 13px;
        text-align: center;
    }
    .mobile_footer a:hover {
        font-size: 14px;
    }
    .prevProject, .nextProject {
        width: 250px;
        padding: 10px 0;
    }
    .pHeading, .Headingp {
        display: block;
        text-align: center;
    }
    .pHeading h3, .Headingp h3 {
        font-size: 10px;
        line-height: 25px;
    }
    .pHeading p, .Headingp p {
        font-size: 12px;
        line-height: 30px;
    }
    .prevProject i, .nextProject i {
        display: none;
    }
}

@media (max-width: 340px) {
    .mobile_footer {
        height: 50px;
        line-height: 40px;
        display: block;
    }
    .mobile_footer a {
        font-size: 10px;
        text-align: center;
    }
    .mobile_footer :hover {
        font-size: 10px;
    }
    .prevProject, .nextProject {
        max-width: 240px;
    }
}
