main#container {
    padding-bottom: 150px !important;
}

/* header */

header#header {
    display: block;
    position: relative;
    width: 100%;
    background: 
    url('../../img/project3/header-interface.png'), 
    url('../../img/project3/header-background-dotted.svg'), 
    rgb(255, 243, 239);
    background-position: calc(50% + 350px) 25px, bottom;
    background-origin: border-box;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat-x;
    margin-top: -75px;
    overflow: hidden;
}

header#header .header-container {
    height: 90vh;
    min-height: 800px;
    max-width: 1080px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 75px 0 0;
    animation: 2s move ease infinite;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header-container aside {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    min-width: 500px;
}

.header-container aside img {
    max-width: 225px;
}

.header-container aside h2.title {
    display: block;
    margin: 30px 0 50px;
    color: rgb(194, 70, 49);
    font-size: 1.75em;
}

.header-container span.tag {
    font-size: 1.25em;
    background: rgb(255, 247, 245);
    border-radius: 7.5px;
    padding: 12.5px;
    color:  rgb(194, 70, 49);
    box-shadow: 0px 25px 75px -10px rgba(50, 50, 50, .35);
}

/* main */

main#container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* preface */

section#preface {
    margin: -25px auto 0;
}

section#preface main.container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 35px 55px 35px 75px;
    border-top: 3px solid rgb(194, 70, 49);
    box-shadow: 0px 45px 95px -50px rgba(91, 91, 91, .5);
}

section#preface main.container .row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}

section#preface .row h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: .85em;
    color: rgb(162, 162, 162);
    border-left: 5px solid rgb(201, 201, 201);
    margin-left: -15px;
    padding-left: 10px;
}

section#preface .row p {
    font-size: 1.35em;
}

/* intro */

section#intro {
    width: 100%;
    display: block;
    position: relative;
    margin-top: -25px;
    z-index: -1;
}

section#intro main.container {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 850px;
    flex-direction: row;
    justify-content: center;
}

section#intro article.row {
    width: 50%;
}

section#intro article.row-content {
    background: rgb(255, 255, 255);
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
}

section#intro .content {
    display: block;
    position: relative;
    padding: 0 100px;
}

section#intro .content h2 {
    display: inline-block;
    font-size: 2em;
    margin-bottom: 1.25em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#intro .content p {
    display: inline-block;
    font-size: 1.5em;
    line-height: 2.1em;
    padding-left: 25px;
    margin: 1em 0;
}

section#intro .content span {
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(66, 66, 66);
}

section#intro article.row-img {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgb(233, 133, 116), rgb(171, 36, 6));
    box-shadow: -30px 50px 95px -15px rgba(99, 99, 99, .35);
    overflow: hidden;
    z-index: 2;
}

section#intro .img {
    display: block;
    position: relative;
}

section#intro .img img {
    position: relative;
    display: block;
    max-width: 1050px;
    right: -100px;
}

/* process */

section#process {
    position: relative;
    display: block;
    width: 100%;
}

section#process main.container {
    max-width: 980px;
    display: block;
    margin: -25px auto 0;
    padding: 50px 75px 25px 50px;
    background: rgb(255, 255, 255);
    border-bottom: 2.5px solid rgb(194, 70, 49);
}

section#process h2.title {
    display: inline-block;
    font-size: 2em;
    margin-bottom: 1.5em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#process aside.content p {
    display: inline-block;
    font-size: 1.5em;
    line-height: 2.1em;
    padding-left: 20px;
    margin-bottom: 25px;
}

/* problem */

section#problem {
    position: relative;
    display: block;
    margin-top: 100px;
}

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_2.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_4.png') center center;
}

@media all and (min-width: 1650px) {

    section#intro .img img {
        max-width: 115%;
    }

}

@media all and (max-width: 1229px) {

    /* header */

    header#header,
    section#preface {
        padding: 0 25px;
    }
    
    header#header {
        background-size: contain, auto;
        background-position: calc(50% + 200px) center, bottom;
    }

    /* intro */

    section#intro .content {
        padding: 0 65px 0 50px;
    }

    section#intro .img img {
        right: -50px;
    }

    /* process */

    section#process {
        padding: 0 50px;
    }


}

@media all and (max-width: 980px) {

    /* header */
    
    header#header {
        background-position: calc(50% + 225px) center, bottom;
        background-size: 785px, auto;
    }

    header#header .header-container {
        align-items: flex-start;
        height: 600px;
    }

    .header-container aside img {
        max-width: 200px;
    }

    .header-container aside h2.title {
        margin: 25px 0 50px;
        font-size: 1.65em;
    }

    /* intro */

    section#intro .content h2 {
        font-size: 1.75em;
    }

    section#intro .content p {
        font-size: 1.35em;
    }

    section#intro .img img {
        max-width: 850px;
        right: 0;
    }

    /* process */

    section#process h2.title {
        font-size: 1.75em;
    }

    section#process aside.content p {
        font-size: 1.35em;
    }

}

@media all and (max-width: 767px) {

    /* header */

    header#header {
        background-size: 775px, auto;
        background-position: center -50px, bottom;
    }

    header#header .header-container {
        justify-content: flex-end;
        align-items: center;
        height: 725px;
        padding-bottom: 100px;
    }

    .header-container aside {
        min-width: 0;
        width: 100% !important;
        align-items: center;
        margin: 0 auto;
    }

    .header-container aside img {
        max-width: 175px;
    }

    .header-container aside h2.title {
        margin: 25px 0 35px;
        font-size: 1.5em;
    }

    /* preface */

    section#preface {
        padding: 0 25px;
    }

    section#preface main.container {
        flex-direction: column;
        align-items: center;
        padding: 35px 50px;
    }

    section#preface .row {
        margin-bottom: 50px;
        align-items: center;
    }

    section#preface .row:last-child {
        margin-bottom: 0;
    }

    section#preface .row h2 {
        border-left: none;
        margin-left: 0px;
        padding-left: 0px;
        font-size: 1.45em;
    }

    section#preface .row p {
        font-size: 1.25em;
    }

    /* intro */

    section#intro main.container {
        height: auto;
        min-height: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#intro article.row {
        width: 100%;
    }

    section#intro .content {
        padding: 125px 50px 75px;
    }

    section#intro .content h2 {
        font-size: 1.5em;
        padding: 10px 15px;
    }

    section#intro .content p {
        font-size: 1.25em;
        padding-left: 20px;
    }

    section#intro article.row-img {
        height: 500px;
        margin-left: 100px;
        overflow: visible;
        box-shadow: -25px 55px 95px -40px rgba(53, 53, 53, 0.5);
    }

    section#intro .img img {
        max-width: 700px;
        top: -30px;
        left: 15px;
    }

    /* process */

    section#process {
        padding: 0 75px 0 0;
    }

    section#process main.container {
        padding: 75px 50px 75px 50px;
    }

    section#process h2.title {
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    section#process aside.content p {
        font-size: 1.25em;
    }

}

@media all and (max-width: 550px) {

    /* header */

    header#header {
        background-size: 725px, auto;
    }

    .header-container aside h2.title {
        font-size: 1.35em;
    }

    /* preface */

    section#preface .row {
        margin-bottom: 35px;
    }

    section#preface .row h2 {
        font-size: 1.35em;
    }

    section#preface .row p {
        font-size: 1.15em;
    }

    section#intro .content {
        padding: 125px 25px 75px;
    }

    section#intro article.row-img {
        margin-left: 50px;
    }

    /* process */

    section#process {
        padding: 0 50px 0 0;
    }

    section#process main.container {
        padding: 50px 25px;
    }

}