/* general */

#line {
    z-index: 1;
}

header#header,
main#container {
    position: relative;
    width: 100%;
}

h1 {
    font-size: 2.6em;
    line-height: 2.6em;
}

h2 {
    font-size: 2.45em;
    line-height: 2.45em;
}

h2.overlay-title {
    background: linear-gradient(125deg, #ffbbd0, #f8345e 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

h3 {
    font-size: 2.15em;
    line-height: 2.25em;
    font-weight: 400;
}

h4 {
    font-size: 1.55em;
    line-height: 2.15em;
    font-weight: 400;
}

p {
    font-size: 1.35em;
    line-height: 2.15em;
    font-weight: 100;
    letter-spacing: .25px;
}


/* header */

header#header .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 600px;
}

header#header .container::before {
    content: "";
    position: absolute;
    display: block;
    top: -300px;
    right: -150px;
    min-width: 750px;
    height: 750px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 35%, rgb(255, 201, 215), rgb(255, 145, 172) 100%);
    animation: 2.5s circular linear infinite;
    z-index: -2;
}

header#header .container::after {
    content: "";
    position: absolute;
    display: block;
    top: -200px;
    right: -50px;
    min-width: 550px;
    height: 550px;
    border-radius: 50%;
    background: rgb(255,255,255);
    z-index: -1;
}

@keyframes circular {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

header#header .title { 
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 45px 35px 100px -60px rgba(112, 112, 112, .35);
    background: rgba(255, 255, 255, .5);
    transition: .5s all ease;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

header#header .title svg {
    margin-bottom: 1.5em;
    width: 90%;
}

header#header .title a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 25px 0 15px 0;
    font-size: 1.35em;
    line-height: 1.75em;
    border-radius: 5px;
    border: 1px solid rgba(193, 193, 193, 0.5);
    padding: 7.5px 15px;
    transition: .5s all ease;
}

header#header .title a i {
    font-size: 0.65em;
    padding-right: 10px;
}

header#header .title a:hover {
    background: rgba(222, 222, 222, 0.25);
    border: 1px solid rgba(82, 82, 82, 0.5);
    transform: scale(1.05);
}

header#header .title a:active {
    transition: .25s all ease;
    transform: scale(0.95);
}

header#header .pattern {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

header#header .pattern svg {
    min-width: 200px;
    position: relative;
    z-index: -1;
}

header#header svg.pattern_dot-left {
    top: -15px;
    right: 500px;
}

header#header svg.pattern_dot-right {
    left: 50px;
}

/* main */

main > .container {
    display: block;
    position: relative;
    width: 100%;
}

/* section-----intro */

section.intro figure.pic {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section.intro blockquote.overview {
    display: block;
    position: relative;
    width: 100%;
    padding: 100px 0 50px;
}

blockquote.overview .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 50px;
}

blockquote.overview .container p:first-child {
    padding: 0;
}

blockquote.overview .container p {
    padding: 25px 0 0;
}

/* ------------------- section ------------------- */

section.preface,
section.before,
section.insight {
    display: block;
    position: relative;
    width: 100%;
}

/* section-----preface */

section.preface {
    z-index: 1;
    padding: 50px 0;
}

section.preface ul.container {
    display: flex;
    max-width: 767px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px 0;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 35px 80px -30px rgba(156, 156, 156, 0.25);
}

section.preface ul.container li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.preface li h4 {
    color: rgb(151, 151, 151);
}

section.preface li p,
section.preface ul.item li {
    font-size: 1.35em;
    line-height: 1.75em;
}

/* section-----before */

section.before .wrapper {
    display: block;
    position: relative;
    background: linear-gradient(180deg,rgb(249, 249, 249),rgb(255, 255, 255));
    padding: 100px 0;
    margin: -75px auto 0;
    max-width: 1440px;
    border-radius: 25px;
    overflow: hidden;
}

section.before .wrapper::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: -100px;
    right: -100px;
    background: url("../../img/project1-2/before_pattern.svg");
    background-repeat: no-repeat;
    background-size: 750px 750px;
    background-position: top right;
} 

section.before .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1;
    padding: 25px;
}

section.before aside.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

section.before aside.img {
    position: relative;
    align-items: center;
}

section.before aside.img::before,
section.before aside.img::after,
section.before aside.img:hover::before,
section.before aside.img:hover::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

section.before aside.img::before,
section.before aside.img:hover::before {
    top: 0;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

section.before aside.img::after,
section.before aside.img:hover::after {
    bottom: 75px;
    border-radius: 0 0 15px 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
}

section.before aside.img:hover::before,
section.before aside.img:hover::after {
    background: rgba(255,255,255,0);
}

section.before aside.img picture.before-img {
    display: block;
    position: relative;
    width: 100%;
    min-height: 650px;
    max-height: calc(100vh / 1.75);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0px 15px 85px -5px rgba(156, 156, 156, 0.35);
    border-radius: 15px;
    transition: .25s all ease;
}

section.before aside.img picture.before-img:hover {
    box-shadow: 0px 25px 55px -15px rgba(156, 156, 156, 0.25);
    transform: scale(0.985);
}

section.before aside.img picture.before-img::-webkit-scrollbar {
    display: none;
}

section.before aside.img figcaption {
    padding: 25px 0;
    font-size: 1.25em;
    line-height: 1.75em;
    color: rgb(162, 162, 162);
    letter-spacing: .25px;
}

section.before picture.before-img img {
    width: 100%;
}

section.before aside.content {
    padding-left: 50px;
    justify-content: center;
}

section.before aside.content header {
    padding: 25px 0;
}

section.before aside.content h2 {
    font-size: 2.5em;
    line-height: 2em;
}

section.before aside.content p {
    padding: 0 0 25px;
}

section.before aside.content p:last-child {
    padding: 0;
}

/* section-----insight */

section.insight .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 150px 0;
}

section.insight header {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 100px 0 0;
}

section.insight header h2 {
    line-height: 2em;
}

section.insight main {
    width: 70%;
    padding: 0 150px 0 0;
} 

section.insight ol li {
    padding: 25px;
    margin: 0 0 50px;
    border-radius: 15px;
    transition: .5s all ease;
    box-shadow: 20px -20px 65px -35px rgba(150, 150, 150, 0.5);
}

section.insight ol li:hover {
    transform: translateY(-5px);
    box-shadow: -20px 20px 65px -25px rgba(150, 150, 150, 0.5);
}

section.insight ol li:last-child {
    margin: 0;
}

section.insight li h3.sub-title {
    font-size: 1.85em;
    background: linear-gradient(300deg, #e6e6e6 51%, #696969 87%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding-bottom: 15px;
}

section.insight ol li:hover > h3.sub-title {
    background: linear-gradient(300deg, #e6e6e6 51%, #fa4069 87%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

section.insight li h3::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0.5px;
    background: #ebebeb;
    margin-top: 5px;
}

section.insight li p {
    font-weight: 100;
}

/* section-----objective */

section.objective {
    background: linear-gradient(298deg, rgb(255, 233, 240), rgb(255, 255, 255));
    padding: 50px 0;
}

section.objective .container {
    display: block;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

section.objective header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 25px;
    max-width: 980px;
}

section.objective header h2 {
    font-size: 2.5em;
    line-height: 3em;
}

section.objective .container p {
    position: relative;
    font-size: 1.75em;
    line-height: 5em;
}

section.objective ul.card,
section.objective ul.card li {
    display: flex;
}

section.objective ul.card {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

section.objective ul.card li {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0px 5px 15px -5px rgba(161, 161, 161, 0.25);
}

section.objective ul.card h3 {
    font-size: 1.85em;
    line-height: 3em;
}

section.objective ul.card p {
    font-size: 1.25em;
    line-height: 2em;
}


@media all and (max-width: 1490px) {

    /* header */
    /* section-----before */
    /* section-----objective */

    header#header,
    section.before,
    section.objective .container {
        padding: 0 25px;
    }

}

@media all and (max-width: 980px) {

    /* section-----preface */

    section.preface {
        padding: 25px 50px;
    }

    /* section-----before */

    section.before .wrapper {
        border-radius: 15px;
    }

    section.before .wrapper::before {
        background-position: top left;
        background-size: contain;
        right: -150px;
        top: -150px;
    }

    /* section-----insight */

    section.insight .container {
        padding: 0 0 100px 0;
    }

    section.insight header {
        padding: 20px 50px 0 0;
    }

    section.insight main {
        padding: 0 100px 0 0;
    }

}

@media all and (max-width: 767px) {

    #decoration-line {
        z-index: 1;
    }

    /* header */

    header#header .container {
        min-height: 450px;
        justify-content: center;
        align-items: center;
    }

    header#header .container::before {
        top: -150px;
        right: -100px;
        min-width: 550px;
        height: 550px;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    header#header .container::after {
        top: -100px;
        right: -50px;
        min-width: 400px;
        height: 400px;
    }

    header#header .title {
        bottom: 25px;
        align-items: center;
        z-index: 1;
        padding: 25px 15px;
        max-width: 275px;
        box-shadow: 0px 25px 100px -60px rgba(57, 57, 57, 0.5);
    }

    header#header .title svg {
        margin-bottom: 1.5em;
        width: 80%;
    }

    header#header .title h1 {
        font-size: 1.75em;
    }

    header#header .title a {
        font-size: 1.25em;
        padding: 5px 10px;
    }

    header#header .pattern svg {
        min-width: 150px;
    }

    header#header svg.pattern_dot-left {
        right: 0;
        left: -150px;
        z-index: 0;
    }

    header#header svg.pattern_dot-right {
        left: 75px;
    }

    /* section-----intro */

    main .container blockquote.overview {
        padding: 50px 0 25px;
    }

    blockquote.overview .container {
        padding: 0 25px;
    }

    blockquote.overview .container p:first-child {
        padding: 0 15px;
    }

    blockquote.overview .container p {
        font-size: 1.25em;
        padding: 35px 15px 0;
    }

    /* section-----preface */

    section.preface {
        padding: 25px 75px;
    }

    section.preface ul.container {
        flex-direction: column;
    }

    section.preface ul.container li:first-child,
    section.preface ul.container li:nth-child(2) {
        padding-bottom: 25px;
    }

    section.preface ul.item li {
        padding: 0 !important;
    }

    section.preface ul li h4,
    section.preface ul li p {
        font-size: 1.25em;
    }

    /* section-----before */

    section.before .wrapper {
        padding: 75px 0;
        margin: -50px auto 0;
    }

    section.before .container {
        flex-direction: column;
        padding: 0 25px;
    }
    
    section.before aside.column {
        width: 100%;
    }

    section.before aside.img picture.before-img {
        min-height: 650px;
    }

    section.before aside.content {
        padding: 0 0 75px;
        order: 1;
    }

    section.before aside.content h2 {
        font-size: 2em;
    }
    
    section.before aside.content p {
        font-size: 1.25em;
    }

    section.before aside.img {
        order: 2;
    }

    /* section-----insight */

    section.insight .container {
        flex-direction: column;
        padding: 0 25px 75px;
    }

    section.insight header,
    section.insight main {
        width: 100%;
    } 

    section.insight header {
        justify-content: center;
        padding: 0 0 50px;
    }

    section.insight header h2 {
        font-size: 2em;
    }

    section.insight main {
        padding: 0 25px 50px;
    }

    section.insight ol li {
        box-shadow: 30px -40px 65px -35px rgba(150, 150, 150, 0.2);
    }

    section.insight ol li:hover {
        box-shadow: -30px 40px 65px -35px rgba(150, 150, 150, 0.2);
    }
    

    section.insight li h3.sub-title {
        background: linear-gradient(335deg, #f5f5f5 28%, #696969 68%);
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 1.65em;
        line-height: 2em;
        padding-bottom: 10px;
    }

    section.insight ol li:hover > h3.sub-title {
        background: linear-gradient(335deg, #f5f5f5 28%, #ff8ba4 68%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    section.insight li p {
        font-size: 1.25em;
    }

    /* section-----objective */

    section.objective .container h2 {
        font-size: 2em;
    }

}

@media all and (max-width: 550px) {

    /* section-----preface */

    section.preface {
        padding: 25px 50px;
    }

    section.before aside.img picture.before-img {
        min-height: 500px;
    }

    section.before aside.img figcaption {
        font-size: 1.05em;
    }

    section.before aside.img::after,
    section.before aside.img:hover::after {
        bottom: 72px;
    }

}