/* main */

section.objective,
section.design,
article.process .container,
article.sitemap-ia .container {
    display: block;
    position: relative;
    width: 100%;
}

/* section----intro */

section.intro figure.pic {
    max-width: 1080px;
    margin-top: -50px;
}

section.intro figure.pic video {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 55px 160px -85px rgba(161, 161, 161, 0.5);
}


/* section-----design */

article.process ,
article.sitemap-ia {
    padding: 100px 0;
}

article.process .container,
article.sitemap-ia header.title {
    position: relative;
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}

article.process .content {
    max-width: 767px;
    position: relative;
}

article.process .content h2 {
    font-size: 2em;
    padding-bottom: 25px;
}

article.process .content p {
    font-size: 1.35em;
    padding-bottom: 25px;
}

article.process picture img {
    width: 100%;
    padding: 50px 0;
    display: block;
}

article.process picture img.mobile {
    display: none;
}

article.sitemap-ia header.title h3 {
    
}

@media all and (max-width: 1375px) {

    /* section-----intro */

    section.intro figure.pic {
        padding: 0 25px;
    }
    
}

@media all and (max-width: 1130px) {
    
    article.process .content,
    article.sitemap-ia header.title {
        padding: 0 25px;
    }

    article.process picture img {
        padding: 50px 25px;
    }

}


@media all and (max-width: 767px) {

    /* section-----intro */

    section.intro figure.pic {
        margin-top: -25px;
    }

    section.intro figure.pic video {
        box-shadow: 0px -5px 160px -55px rgba(114, 114, 114, 0.75);
        border-radius: 15px;
    }

    article.sitemap-ia {
        padding: 100px 0 0;
    }

    article.process .content h2 {
        font-size: 1.75em;
    }

    article.process .content p {
        font-size: 1.15em;
    }

    article.process picture img {
        padding: 25px 50px;
    }

}

@media all and (max-width: 550px) {

    article.process,
    article.sitemap-ia {
        padding: 50px 0 0;
    }

    article.process picture img.desktop {
        display: none;
    }

    article.process picture img.mobile {
        display: block;
    }
    
}


/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_1.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_3.png') center center;
}
