/* main */

section.objective,
section.design,
article.process .container,
article.sitemap-ia .container {
    display: block;
    position: relative;
    width: 100%;
}

/* section----intro */

section.intro figure.pic {
    max-width: 1080px;
    margin-top: -50px;
}

section.intro figure.pic video {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 55px 160px -85px rgba(161, 161, 161, 0.5);
}


/* section-----design */

/* article.sitemap-ia */

article.sitemap-ia {
    padding: 50px 0;
}

article.sitemap-ia .container {
    width: 100%;
    position: relative;
    display: block;
}

article.sitemap-ia main.content {
    display: block;
    max-width: 1080px;
    margin: 0 auto;
}

article.sitemap-ia main.content header {
    max-width: 767px;
}

article.sitemap-ia main.content header h2 {
    font-size: 2.5em;
    padding-bottom: 25px;
}

article.sitemap-ia main.content header h3 {
    
}

@media all and (max-width: 1375px) {

    /* section-----intro */

    section.intro figure.pic {
        padding: 0 25px;
    }
    
}

@media all and (max-width: 1130px) {

    /* section-----design */

    /* article.sitemap-ia */

    article.sitemap-ia header.title {
        padding: 0 25px;
    }

}


@media all and (max-width: 767px) {

    /* section-----intro */

    section.intro figure.pic {
        margin-top: -25px;
    }

    section.intro figure.pic video {
        box-shadow: 0px -5px 160px -55px rgba(114, 114, 114, 0.75);
        border-radius: 15px;
    }

    /* section-----design */

    /* article.sitemap-ia */

    article.sitemap-ia {
        padding: 100px 0 0;
    }

}

@media all and (max-width: 550px) {

    /* section-----design */
    
    /* article.sitemap-ia */

    article.sitemap-ia {
        padding: 50px 0 0;
    }

}


/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_1.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_3.png') center center;
}
