/* header */

header#header .title a {
    border: 1px solid rgba(255, 150, 174, 0.5);
    color: rgb(255, 51, 102);
    background: rgba(255, 216, 225, 0.25);
}

header#header .title a i {
    color: rgb(255, 51, 102);
    transition: .5s all ease;
}

header#header .title a:hover {
    background: rgb(255, 51, 102);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 51, 102);
}

header#header .title a:hover i {
    color: rgb(255, 255, 255);
}

/* main */
/* section-----intro */

section.intro picture {
    display: block;
    position: relative;
    max-width: 1080px;
    margin-top: -50px;
    padding: 0 50px;
}

section.intro picture img {
    width: 100%;
}

/* section-----before */

section.before aside.img {
    justify-content: center;
}

section.before aside.img picture.before-img {
    overflow: hidden;
    min-height: initial;
    max-height: initial;
}

section.before aside.img::before, 
section.before aside.img:hover::before,
section.before aside.img::after, 
section.before aside.img:hover::after {
   height: 0;
   width: 0;
}
    

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_6.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_2.png') center center;
}

@media all and (max-width: 767px) {

    /* section-----intro */

    section.intro picture {
        margin-top: -25px;
        padding: 0 25px;
    }

    /* section-----before */

    section.before aside.img picture.before-img {
        min-height: inherit;
    }

}

@media all and (max-width: 550px) {

    /* section-----before */

    section.before aside.img picture.before-img {
        min-height: inherit;
    }

}