main#container {
    padding-bottom: 150px !important;
}

p:last-child {
    margin: 0 !important;
}

figcaption {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 1.25em;
    line-height: 2.1em;
    margin: 25px 0;
    letter-spacing: .25px;
    color: rgb(162, 162, 162);
}

/* header */

header#header {
    display: block;
    position: relative;
    width: 100%;
    background: 
    url('../../img/project3/header-interface.png'), 
    url('../../img/project3/header-background-dotted.svg'), 
    rgb(255, 243, 239);
    background-position: calc(50% + 350px) 25px, bottom;
    background-origin: border-box;
    background-size: contain, auto;
    background-repeat: no-repeat, repeat-x;
    margin-top: -75px;
    overflow: hidden;
}

header#header .header-container {
    height: 80vh;
    min-height: 800px;
    max-width: 1180px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 75px 0 0;
    animation: 2s move ease infinite;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header-container aside {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    min-width: 500px;
}

.header-container aside img {
    max-width: 225px;
}

.header-container aside h2.title {
    display: block;
    margin: 30px 0 50px;
    color: rgb(194, 70, 49);
    font-size: 1.75em;
}

.header-container span.tag {
    font-size: 1.25em;
    background: rgb(255, 247, 245);
    border-radius: 7.5px;
    padding: 12.5px;
    color:  rgb(194, 70, 49);
    box-shadow: 0px 25px 75px -10px rgba(50, 50, 50, .35);
}

/* main */

main#container {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* preface */

section#preface {
    margin: -25px auto 0;
}

section#preface main.container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 35px 0;
    border-radius: 10px;
    box-shadow: 0px 45px 95px -50px rgba(91, 91, 91, .5);
}

section#preface main.container .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section#preface .row h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: .85em;
    color: rgb(162, 162, 162);
    border-left: 5px solid rgb(201, 201, 201);
    margin-left: -15px;
    padding-left: 10px;
}

section#preface .row p {
    font-size: 1.35em;
}

/* intro */

section#intro {
    width: 100%;
    display: block;
    position: relative;
    margin: 25px auto 0;
    z-index: -1;
}

section#intro main.container {
    display: flex;
    position: relative;
    height: 75vh;
    min-height: 850px;
    flex-direction: row;
    justify-content: center;
}

section#intro aside.row {
    width: 50%;
}

section#intro aside.row-content {
    background: rgb(255, 255, 255);
    display: flex;
    position: relative;
    align-items: center;
    z-index: 1;
}

section#intro .content {
    display: block;
    position: relative;
    padding: 0 100px;
}

section#intro .content h2 {
    display: inline-block;
    font-size: 1.75em;
    margin-bottom: 2.5em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#intro .content p {
    display: inline-block;
    font-size: 1.45em;
    line-height: 2.1em;
    padding-left: 25px;
    margin-bottom: 2em;
}

section#intro .content span {
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(66, 66, 66);
}

section#intro aside.row-img {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, rgb(233, 133, 116), rgb(171, 36, 6));
    box-shadow: -30px 50px 95px -15px rgba(99, 99, 99, .35);
    overflow: hidden;
    border-radius: 50px 0 0 50px;
    z-index: 2;
}

section#intro picture.img {
    display: block;
    position: relative;
}

section#intro picture.img img {
    position: relative;
    display: block;
    max-width: 1050px;
    right: -60px;
}

/* process */

section#process {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}

section#process article.content {
    max-width: 980px;
    display: block;
    position: relative;
    margin: -50px auto 0;
    background: rgb(255, 255, 255);
    border-radius: 35px 35px 0 0;
    padding: 75px 75px 75px 50px;
}

section#process article.content::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 300px;
    background: linear-gradient(180deg, rgb(255, 213, 123), rgb(255, 124, 124));
    border-radius: 35% 10% 20% 50%;
    filter: blur(90px);
    -webkit-filter: blur(90px);
    top: 5px;
    left: -5px;
    z-index: -1;
}


section#process h2.title {
    display: inline-block;
    font-size: 1.75em;
    margin-bottom: 2.5em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#process article.content p {
    display: inline-block;
    font-size: 1.45em;
    line-height: 2.1em;
    padding-left: 20px;
    margin-bottom: 2.5em;
}

section#process ul.process-visual-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}

section#process ul.process-visual-container::after {
    content: "";
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    margin: 100px auto 0;
    background: url(../../img/project3/separate-line.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50%;
}

ul.process-visual-container li {
    display: flex;
    min-width: 250px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.5) url("../../img/project3/header-background-dotted.svg") repeat-x 0 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    transition: .5s all ease;
    box-shadow: 0px 45px 75px -18px rgba(131, 131, 131, 0.15);
}

ul.process-visual-container li:hover h3.sub-title {
    transform: scale(1.25);
    box-shadow: 
    inset 0 25px 0 rgb(255, 255, 255), 
    inset 0 -15px 0 rgb(255, 227, 126);
    color: rgb(171, 36, 6);
}

ul.process-visual-container li::after {
    content: "\f061";
    position: absolute;
    display: flex;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    font-size: 3em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: calc(63% * 2);
    color: rgb(255, 157, 157);
    animation: 1s right-move ease infinite;
}

@keyframes right-move {
    0% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(-5px);
    }
}

ul.process-visual-container li:last-child:after {
    display: none;
}

ul.process-visual-container li h3.sub-title {
    font-size: 2.25em;
    transition: .5s all ease;
    color: rgb(236, 128, 103);
    font-weight: 400;
}

/* problem */

section#problem {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 100px;
}

section#problem main.container {
    display: block;
    position: relative;
}

section#problem article.content {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
}

section#problem article.content aside.row {
    width: 35%;
    position: relative;
}

section#problem article.content aside.row-content {
    width: 65%;
    padding: 0 75px 75px 0;
    background: rgb(255, 255, 255);
    border-radius: 0 0 35px 0;
}

section#problem article.content aside.row-content::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 450px;
    background: linear-gradient(180deg, rgb(255, 213, 123), rgb(255, 124, 124));
    border-radius: 35% 10% 20% 50%;
    filter: blur(90px);
    -webkit-filter: blur(90px);
    bottom: -25px;
    right: -5px;
    z-index: -1;
}

section#problem aside.row-content h2.title {
    display: inline-block;
    font-size: 1.75em;
    margin-bottom: 2.5em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#problem aside.row-content p {
    display: inline-block;
    font-size: 1.45em;
    line-height: 2.1em;
    padding-left: 20px;
    margin-bottom: 2.5em;
}

section#problem aside.row-content span {
    color: rgb(235, 63, 44);
}

section#problem picture.img {
    display: block;
    position: relative;
    max-width: 1180px;
    margin: 50px auto;
}

section#problem picture.img::after {
    content: "";
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background: url("../../img/project3/separate-line.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50%;
    margin: 50px 0;
}

section#problem picture.img img.desktop {
    width: 85%;
    display: block;
    margin: 0 auto;
}

section#problem picture.img img.mobile {
    display: none;
}

/* research */

section#research,
section#research main.container {
    position: relative;
    display: block;
    width: 100%;
}

section#research main.container::after {
    content: "";
    width: 100%;
    height: 100px;
    position: relative;
    display: block;
    background: url(../../img/project3/separate-line.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 50%;
    margin: -50px 0 100px;
}

section#research main.container header.intro {
    padding: 50px 250px 50px 0;
}

section#research main.container header.intro,
section#research main.container article.persona,
section#research main.container article.key-findings {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1080px;
    margin: 0 auto;
}

section#research header.intro h2.title {
    font-size: 1.75em;
    margin-bottom: 2em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 5px solid rgb(233, 34, 12);
}

section#research header.intro p {
    font-size: 1.45em;
    line-height: 2.1em;
    margin-bottom: 2.5em;
    padding-left: 20px;
}

section#research main.container article.persona,
section#research main.container article.key-findings {
    padding: 50px 0;
}

article.persona h3.title,
article.key-findings h3.title {
    display: block;
    position: relative;
    font-size: 2em;
    margin-bottom: 2em;
    color: rgb(235, 94, 78);
    width: 100%;
}

article.persona h3.title::before,
article.key-findings h3.title::before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    top: 55px;
    left: 0;
    height: 1px;
    background: rgb(255, 211, 206);
}

article.persona h3.title::after,
article.key-findings h3.title::after {
    content: "";
    display: block;
    position: relative;
    width: 65px;
    height: 2px;
    margin-top: 25px;
    background: rgb(235, 94, 78);
}

article.persona aside.persona {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 50px 0;
}

article.persona aside.persona .row {
    display: flex;
    position: relative;
}

article.persona aside.persona .img {
    width: 30%;
}

article.persona aside.persona .img img {
    width: 100%;
    padding: 0 75px 0 0;
}

article.persona aside.persona .container {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
}

aside.persona .container header {
    width: 100%;
    margin-bottom: 40px;
}

aside.persona .container h3.name {
    font-size: 1.95em;
    line-height: 2.25em;
}

aside.persona .container span {
    font-size: 1.75em;
    line-height: 2em;
}

aside.persona .container main {
    margin: 0 0 50px;
    padding: 0 15px;
}

aside.persona .container main p {
    font-size: 1.5em;
    line-height: 2em;
    text-align: justify;
    color: rgb(240, 94, 61);
}

aside.persona ol.pain-point h4.title {
    font-size: 1.65em;
    line-height: 2em;
    display: inline-block;
    position: relative;
}

aside.persona ol.pain-point h4.title::after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
    background: rgb(181, 181, 181);
    margin: 5px 0 35px;

}

aside.persona ol.pain-point li {
    list-style: decimal;
    font-size: 1.45em;
    line-height: 2em;
    padding: 0 0 0 5px;
    margin: 0 0 20px 0;
}

article.key-findings h3.title {
    margin-bottom: 3em;
}

article.key-findings aside.column h4.sub-title {
    display: inline-block;
    font-size: 1.6em;
    margin-bottom: 2em;
    color: rgb(254, 116, 30);
}

article.key-findings main p {
    font-size: 1.45em;
    line-height: 2.1em;
    margin: 0 0 2em 0;
}

article.key-findings main p strong {
    border-bottom: 1px solid rgb(182, 182, 182);
    padding-bottom: 5px;
}

article.key-findings aside main {
    width: 80%;
}

article.key-findings aside.column figure {
    display: block;
    position: relative;
    margin: 75px 0;
    padding: 0 50px 0 0;
}

article.key-findings aside.column figure img {
    width: 100%;
}

article.key-findings aside.column figure img.mobile {
    display: none;
}

/* solution */

section#solution,
section#solution main.container {
    width: 100%;
    position: relative;
    display: block;
}

section#solution header {
    display: flex;
    justify-content: center;
    width: 100%;
}

section#solution header h2.title {
    font-size: 1.75em;
    margin-bottom: 2.5em;
    background: rgb(235, 94, 78);
    color: rgb(255, 255, 255);
    padding: 15px;
    border-left: 5px solid rgb(233, 34, 12);
}

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_2.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_4.png') center center;
}

@media all and (min-width: 1650px) {

    section#intro {
        max-width: 1680px;
        margin: -25px auto 0;
    }

    section#intro aside.row-img {
        border-radius: 0 100px 100px 0px;
    }

    section#intro picture.img img {
        max-width: 125%;
    }

}

@media all and (max-width: 1229px) {

    /* header */

    header#header,
    section#preface {
        padding: 0 25px;
    }
    
    header#header {
        background-size: contain, auto;
        background-position: calc(50% + 200px) center, bottom;
    }

    /* intro */

    section#intro .content {
        padding: 0 65px 0 50px;
    }

    section#intro picture.img img {
        right: -50px;
    }

    /* process */

    section#process,
    section#problem {
        padding: 0 50px;
    }

    section#process article.content::before {
        background: linear-gradient(180deg, rgb(255, 225, 160), rgb(255, 132, 132));
        top: 0px;
        left: 0px;
        filter: blur(70px);
        -webkit-filter: blur(70px);
    }

    ul.process-visual-container li {
        min-width: 190px;
        min-height: 190px;
    }

    ul.process-visual-container li::after {
        left: calc(72.5% * 2);
    }

    /* research */

    section#research main.container header.intro {
        padding: 25px 200px 25px 75px;
    }

    section#research main.container::after {
        background-size: 20%;
    }

    article.persona h3.title,
    article.persona aside.persona,
    article.key-findings h3.title,
    article.key-findings aside.column {
        padding: 0 75px;
    }

}

@media all and (max-width: 980px) {

    figcaption {
        font-size: 1.15em;
    }

    /* header */
    
    header#header {
        background-position: calc(50% + 225px) center, bottom;
        background-size: 785px, auto;
    }

    header#header .header-container {
        align-items: flex-start;
        height: 600px;
    }

    .header-container aside img {
        max-width: 200px;
    }

    .header-container aside h2.title {
        margin: 25px 0 50px;
        font-size: 1.65em;
    }

    /* preface */

    section#preface .row h2 {
        font-size: 1.35em;
    }

    section#preface .row p {
        font-size: 1.25em;
    }

    /* intro */

    section#intro .content h2 {
        font-size: 1.65em;
        margin-bottom: 2em;
    }

    section#intro .content p {
        font-size: 1.3em;
        margin-bottom: 2em;
    }

    section#intro picture.img img {
        max-width: 850px;
        right: 0;
    }

    /* process */

    section#process h2.title {
        font-size: 1.65em;
        margin-bottom: 2em;
    }

    section#process article.content p {
        font-size: 1.3em;
        margin-bottom: 2em;
    }

    section#process ul.process-visual-container::after {
        margin: 50px auto 0;
    }

    ul.process-visual-container li {
        min-width: 175px;
        min-height: 175px;
    }

    ul.process-visual-container li::after {
        font-size: 2em;
        left: calc(100% * 1.3);
    }

    ul.process-visual-container li h3.sub-title {
        font-size: 1.75em;
    }

    /* problem */

    section#problem {
        margin-top: 50px;
    }

    section#problem aside.row-content h2.title {
        font-size: 1.65em;
        margin-bottom: 2em;
    } 

    section#problem aside.row-content p {
        font-size: 1.3em;
        margin-bottom: 2em;
    }

    section#problem article.content aside.row-content::before {
        width: 300px;
        height: 425px;
        bottom: 15px;
        right: -25px;
    }

    /* research */

    section#research header.intro h2.title {
        font-size: 1.65em;
    }

    section#research header.intro p {
        font-size: 1.3em;
    }
    
    article.persona h3.title {
        font-size: 1.65em;
        margin: 0;
    }
    
    article.persona h3.title::before {
        top: 50px;
    }
    
    article.persona h3.title::after {
        margin-top: 25px;
    }
    
    article.persona aside.persona .img img {
        padding: 0 50px 0 0;
    }
    
    aside.persona .container h3.name {
        font-size: 1.75em;
        line-height: 2em;
    }
    
    aside.persona .container span {
        font-size: 1.5em;
        line-height: 2em;
    }

    aside.persona .container main {
        margin: 0 0 40px;
    }
    
    aside.persona .container main p {
        font-size: 1.35em;
    }
    
    aside.persona ol.pain-point h4.title {
        font-size: 1.5em;
    }
    
    aside.persona ol.pain-point li {
        font-size: 1.35em;
        margin: 0 0 25px 0;
    }

    article.key-findings aside.column h4.sub-title {
        font-size: 1.5em;
    }

    article.key-findings main p {
        font-size: 1.35em;
    }

    article.key-findings aside.column figure {
        padding: 0 25px 0 0;
    } 

}

@media all and (max-width: 840px) {

    ul.process-visual-container li::after {
        left: calc(100% * 1.2);
    }

}

@media all and (max-width: 767px) {

    main#container {
        padding-bottom: 50px !important;
    }

    figcaption {
        font-size: 1.05em;
    }

    /* header */

    header#header {
        background-size: 775px, auto;
        background-position: center -50px, bottom;
    }

    header#header .header-container {
        justify-content: flex-end;
        align-items: center;
        height: 725px;
        padding-bottom: 100px;
    }

    .header-container aside {
        min-width: 0;
        width: 100% !important;
        align-items: center;
        margin: 0 auto;
    }

    .header-container aside img {
        max-width: 175px;
    }

    .header-container aside h2.title {
        margin: 25px 0 35px;
        font-size: 1.5em;
    }

    /* preface */

    section#preface {
        padding: 0 50px;
    }

    section#preface main.container {
        flex-direction: column;
        align-items: center;
        padding: 35px 50px;
        box-shadow: 0px 65px 105px -10px rgba(171, 171, 171, 0.25);
    }

    section#preface main.container .row {
        margin-bottom: 50px;
        align-items: center;
    }

    section#preface main.container .row:last-child {
        margin-bottom: 0;
    }

    section#preface .row h2 {
        border-left: none;
        margin-left: 0px;
        padding-left: 0px;
        font-size: 1.45em;
    }

    section#preface .row p {
        font-size: 1.25em;
    }

    /* intro */

    section#intro main.container {
        height: auto;
        min-height: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section#intro aside.row {
        width: 100%;
    }

    section#intro .content {
        padding: 50px 50px 75px;
    }

    section#intro .content h2 {
        font-size: 1.5em;
        padding: 10px 15px;
    }

    section#intro .content p {
        font-size: 1.25em;
        padding-left: 20px;
    }

    section#intro aside.row-img {
        height: 500px;
        margin-left: 100px;
        overflow: visible;
        box-shadow: -25px 55px 95px -40px rgba(53, 53, 53, 0.5);
        border-radius: 25px 0 0 0;
    }

    section#intro picture.img img {
        max-width: 700px;
        top: -30px;
        left: 40px;
    }

    /* process */

    section#process {
        padding: 0 75px 75px 0;
    }

    section#process::after {
        content: "";
        position: absolute;
        width: 700px;
        height: 900px;
        background: linear-gradient(145deg, rgba(255, 136, 8, 0.25), rgba(255, 22, 22, 0.15));
        border-radius: 35% 10% 20% 50%;
        filter: blur(50px);
        -webkit-filter: blur(50px);
        right: 55px;
        bottom: 55px;
        z-index: -1;
    }

    section#process article.content {
        padding: 75px 50px 0 50px;
        border-radius: 0 25px 0 0;
        margin: -25px auto 0;
    }

    section#process article.content::before {
        display: none;
    }

    section#process h2.title {
        font-size: 1.5em;
        margin-bottom: 2em;
    }

    section#process article.content p {
        font-size: 1.25em;
    }

    section#process ul.process-visual-container {
        flex-direction: column;
        align-items: center;
        padding: 0 60px 75px 70px;
        background: rgb(255, 255, 255);
        border-radius: 0 0 25px 0;
    }

    section#process ul.process-visual-container::after {
        display: none;
    }

    ul.process-visual-container li {
        margin-bottom: 50px;
        background: url("../../img/project3/header-background-dotted.svg") repeat-x 0 75px;
        box-shadow: 0px 45px 75px -27px rgba(177, 177, 177, 0.35);
    }

    ul.process-visual-container li:last-child {
        margin: 0;
    }

    ul.process-visual-container li::after {
        content: "\f063";
        font-size: 1.85em;
        top: 200px;
        left: calc(100% / 2.25);
        animation: 1.5s right-move-mobile ease infinite;
    }

    ul.process-visual-container li:hover h3.sub-title {
        transform: scale(1.2);
    }
    
    @keyframes right-move-mobile {
        0% {
            transform: translateY(-5px);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(-5px);
        }
    }

    /* problem */

    section#problem {
        margin-top: 50px;
        padding: 0 0 75px 0;
    }

    section#problem article.content aside.row {
        width: 10%;
    }

    section#problem article.content aside.row-content {
        width: 90%;
        padding: 0 50px 50px 25px;
    }

    section#problem article.content aside.row-content {
        border-radius: 0 0 0 25px;
    }

    section#problem article.content aside.row-content::before {
        width: 150px;
        height: 500px;
        bottom: 0px;
        left: 25px;
    }

    section#problem aside.row-content h2.title {
        font-size: 1.5em;
    } 

    section#problem aside.row-content p {
        font-size: 1.25em;
        line-height: 2.15em;
    }

    section#problem picture.img {
        margin: 75px 30px 25px 0;
    }

    section#problem picture.img::after {
        display: none;
    }

    section#problem picture.img img.desktop {
        display: none;
    }

    section#problem picture.img img.mobile {
        display: block;
        width: 93.5%;
        margin: 0 0 0 auto;
    }

    /* research */

    section#research main.container header.intro {
        padding: 0 50px;
    }

    section#research main.container::after {
        display: none;
    }

    section#research header.intro h2.title {
        font-size: 1.5em;
    }

    section#research header.intro p {
        font-size: 1.25em;
        line-height: 2.15em;
    }

    section#research main.container article.persona,
    section#research main.container article.key-findings {
        padding: 50px 0 25px;
    }

    article.persona h3.title,
    article.persona aside.persona,
    article.key-findings h3.title,
    article.key-findings aside.column {
        padding: 0 50px;
    }

    article.persona h3.title {
        font-size: 1.55em;
        margin: 0;
    }
    
    article.persona h3.title::before {
        top: 45px;
    }
    
    article.persona h3.title::after {
        margin-top: 20px;
    }
    
    article.persona aside.persona .img img {
        padding: 0 35px 0 0;
    }

    aside.persona .container header {
        margin-bottom: 35px;
    }
    
    aside.persona .container h3.name {
        font-size: 1.55em;
    }
    
    aside.persona .container span {
        font-size: 1.35em;
    }

    aside.persona .container main {
        margin: 0 0 35px;
    }

    aside.persona .container main p {
        font-size: 1.25em;
    }
    
    aside.persona ol.pain-point h4.title {
        font-size: 1.45em;
    }
    
    aside.persona ol.pain-point h4.title::after {
        margin: 5px 0 30px;
    }
    
    aside.persona ol.pain-point li {
        font-size: 1.25em;
    }

    article.key-findings aside.column h4.sub-title {
        font-size: 1.45em;
    }

    article.key-findings main p {
        font-size: 1.25em;
    }

    article.key-findings aside.column figure {
        padding: 0;
    } 

    article.key-findings aside.column figure img.desktop {
        display: none;
    }

    article.key-findings aside.column figure img.mobile {
        display: block;
    }

}

@media all and (max-width: 550px) {

    /* header */

    header#header {
        background-size: 725px, auto;
    }

    .header-container aside h2.title {
        font-size: 1.35em;
    }

    /* preface */

    section#preface .row {
        margin-bottom: 35px;
    }

    section#preface .row h2 {
        font-size: 1.35em;
    }

    section#preface .row p {
        font-size: 1.15em;
    }

    section#intro aside.row-img {
        margin-left: 50px;
    }

    section#intro picture.img img {
        left: -5px;
    }

    /* process */

    section#process {
        padding: 0 50px 0 0;
    }

    section#process::after {
        right: 55px;
        bottom: -15px;
    }

    section#process article.content {
        padding: 50px 25px 0;
    }

    section#process ul.process-visual-container {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0 25px 50px;
    }

    /* problem */

    section#problem {
        margin-top: 100px;
    }

    /* research */

    section#research main.container header.intro {
        align-items: flex-start;
        padding: 0 50px;
    }

    article.persona aside.persona{
        flex-direction: column;
        margin: 25px 0;
    }

    article.persona h3.title {
        padding: 0 50px 25px;
    }

    article.persona aside.persona .img,
    article.persona aside.persona .container {
        width: 100%;
    }

    article.persona aside.persona .img img {
        padding: 0 75px;
    }

    article.persona aside.persona .container {
        align-items: center;
        margin-top: 50px;
    }

    aside.persona .container header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    article.key-findings aside main {
        width: 85%;
        padding: 0;
    }

}