/* general */

nav#nav {
    z-index: 5;
}

footer#footer,
#line {
    z-index: 4;
}

/* ---------------------- */

header#header {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    background: url('../../img/project4/bg-gradient-top.png') center top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -85px;
}

header#header .header-container {
    background: url('../../img/project4/bg-gradient-bottom.png')left 400px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.header-container picture.bubble {
    position: relative;
    display: block;
}

.header-container picture.bubble img,
.header-container picture.bubble svg,
.header-container picture.header-main {
    position: absolute;
}

picture.bubble-top svg.bubble-1 {
    top: -125px;
    right: -100px;
    transform: rotate(5deg);
    width: 760px;
    z-index: 1;
    animation: 5s moving-1 linear infinite;
}

@keyframes moving-1 {
    0% {
        transform: translateX(15px) rotate(2deg);
        opacity: .75;
    }
    25% {
        transform: translate(9px, 5px) rotate(1deg);
    }
    50% {
        transform: translateX(-2px) rotate(-1deg);
        opacity: 1;
    }
    75% {
        transform: translate(5px, -2px) rotate(0deg);
    }
    100% {
        transform: translateX(15px) rotate(2deg);
        opacity: .75;
    }
}

picture.bubble-top svg.bubble-2 {
    top: -175px;
    right: 600px;
    transform: rotate(-20deg);
    width: 600px;
    z-index: 2;
    animation: 6.5s moving-2 linear infinite;
}

@keyframes moving-2 {
    0% {
        transform: translateX(-5px) rotate(-20deg);
        opacity: 1;
    }
    20% {
        transform: translate(1px, -2px) rotate(-19deg);
    }
    40% {
        transform: translate(3px, -5px) rotate(-22deg);
        opacity: .75;
    }
    60% {
        transform: translate(1px, 3px) rotate(-18deg);
    }
    80% {
        transform: translate(2px, 5px) rotate(-15deg);
    }
    100% {
        transform: translateX(-5px) rotate(-20deg);
        opacity: 1;
    }
}

.header-container picture.header-main {
    display: block;
    left: calc(50% - 240px);
    top: 255px;
}

picture.header-main img.logo {
    max-width: 450px;
    animation: 1.5s pop ease-in-out infinite;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1)
    }
}

picture.bubble-bottom svg.bubble-3 {
    left: -65px;
    top: 585px;
    width: 650px;
    transform: rotate(-180deg);
    z-index: 1;
    animation: 5.5s moving-3 linear infinite;
}

@keyframes moving-3 {
    0% {
        transform: translate(2px,-1px) rotate(-180deg);
        opacity: 1;
    }
    50% {
        transform: translate(-1px,2px) rotate(-185deg);
        opacity: 0.75;
    }
    100% {
        transform: translate(2px,-1px) rotate(-180deg);
        opacity: 1;
    }
}

picture.bubble-bottom svg.bubble-4 {
    left: 445px;
    top: 690px;
    width: 700px;
    transform: rotate(180deg);
    z-index: 2;
    animation: 4.5s moving-4 linear infinite;
}

@keyframes moving-4 {
    0% {
        transform: translate(3px,-1px) rotate(180deg);
        opacity: 1;
    }
    25% {
        transform: translate(-1px,2px) rotate(177deg);
    }
    50% {
        transform: translate(5px,0px) rotate(175deg);
        opacity: 0.75;
    }
    75% {
        transform: translate(1px,3px) rotate(182deg);
    }
    100% {
        transform: translate(2px,-1px) rotate(180deg);
        opacity: 1;
    }
}

picture.bubble img.train {
    max-width: 625px;
    z-index: 3;
    animation-duration: .5s;
    animation-timing-function: ease;
}

picture.bubble img.train-right {
    right: 105px;
    top: 105px;
}

picture.bubble img.train-left {
    left: 65px;
    top: 670px;
}

.arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: -150px auto 0; */
    top: 575px;
    left: calc(50% - 25px);
    border-radius: 100px;
    background: rgba(255,255,255,.5);
    box-shadow: 0px 30px 45px -15px rgba(111, 111, 111, .5);
    height: 85px;
    min-width: 45px;
    z-index: 4;
}

.arrow i.fa-chevron-down {
    font-size: 2.25em;
    color: rgb(255, 80, 127);
    animation: 1.5s arrow-move ease-in-out infinite;
    margin-bottom: 25px;
}

@keyframes arrow-move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(25px);
    }
}

main#container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

section#preface {
    margin: -35px 0 0;
    z-index: 3;
    display: block;
    position: relative;
}

section#preface main.container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    padding: 35px 55px 35px 75px;
    border-bottom: 5px solid rgb(254, 190, 207);
    border-radius: 15px 15px 0 0;
    box-shadow: 0px -20px 55px -20px rgba(255, 101, 142, .25);
}

section#preface .row {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
}

section#preface .row h3 {
    font-size: 1.65em;
    font-weight: 400;
    margin-bottom: .75em;
    line-height: 1em;
    color: rgb(162, 162, 162);
    border-left: 5px solid rgb(201, 201, 201);
    margin-left: -20px;
    padding-left: 15px;
}

section#preface .row p {
    font-size: 1.45em;
    font-weight: 300;
    line-height: 1.75em;
}

section#overview,
section#visual,
section#web,
section#exhibit {
    position: relative;
    margin: 100px 0 0;
    display: block;
}

section#web,
section#exhibit {
    margin: 0;
}

section#web header.container,
section#exhibit header.container {
    max-width: 1080px;
    margin: -150px auto 0;
    padding: 50px 0;
    border-top: 7.5px solid rgb(255, 139, 170);
    box-shadow: 0px -110px 130px -70px rgba(255, 89, 133, .7);
}

section#exhibit header.container {
    border-top: 7.5px solid rgb(236, 209, 255);
    box-shadow: 0px -110px 130px -70px rgba(210, 148, 255, .7);
}

section#visual h2.title,
section#web h2.title,
section#exhibit h2.title {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2.5em;
    line-height: 3em;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: rgb(186, 186, 186);
}

section#visual h2.title::after,
section#web h2.title::after,
section#exhibit h2.title::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 1px;
    background-color: rgb(186, 186, 186);
    top: 115px;
}

section#overview main.container {
    max-width: 1180px;
    margin: 0 auto 50px;
    padding: 50px;
    box-shadow: 
    -200px -170px 205px -190px rgba(255, 96, 183, 0.35),
    200px 160px 95px -170px rgba(231, 152, 253, 0.35); 
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 15px;
}

section#overview main.container,
section#web header.container,
section#web main.container,
section#exhibit header.container,
section#exhibit main.container {
    background: rgb(255,255,255);
}

section#overview main.container a,
section#exhibit article.exhibition p a {
    position: relative;
    display: inline;
    color: rgb(154, 24, 78);
    transition: .25s all ease;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(190, 34, 99, 0);
}

section#overview main.container a:hover,
section#exhibit article.exhibition p a:hover {
    color: rgb(190, 34, 99);
    border-bottom: 1px solid rgb(190, 34, 99);
}

section#overview main.container h2 {
    font-size: 2.5em;
    line-height: 3em;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(186, 186, 186);
    letter-spacing: .5px;
    position: relative;
    margin-bottom: 25px;
}

section#overview main.container p {
    font-size: 1.65em;
    font-weight: 300;
    line-height: 2.15em;
    margin-bottom: 50px;
    letter-spacing: .5px;
    padding-left: 15px;
}

section#overview main.container p:last-child {
    margin: 0;
}

section#visual article.ideation,
section#visual article.color,
section#visual article.element,
article.website,
article.exhibition {
    position: relative;
}

article.exhibition {
    margin-bottom: 50px;
}

article.ideation .paragraph,
article.color .paragraph,
article.element .paragraph,
article.website .paragraph,
article.exhibition .paragraph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 728px;
    margin: 0 auto;
    padding-top: 50px;
}

article.ideation .paragraph,
article.element .paragraph {
    padding-top: 100px;
}

article.color .paragraph {
    padding-top: 50px;
}

.paragraph h3 {
    font-size: 2.25em;
    line-height: 2.35em;
    margin-bottom: 25px;
    background: linear-gradient(220deg,rgb(190, 34, 99), rgb(250, 148, 191));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.paragraph p {
    font-size: 1.65em;
    font-weight: 300;
    line-height: 2.1em;
    letter-spacing: .5px;
}

.multi-line p {
    margin-bottom: 50px;
}

.multi-line p:last-child {
    margin: 0;
}

article.website .paragraph span,
article.exhibition .paragraph span {
    font-weight: 400;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
}

picture.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 0 calc(50vw - 525px);
}

picture.work-color {
    margin: 50px auto 150px;
}

picture.work-full {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
}

picture.parallax-visual {
    background-image: url("../../img/project4/visual-elements-full.png");
}

picture.parallax-web {
    background-image: url("../../img/project4/website-2.png");
    background-size: contain;
}

picture.work-web,
picture.work-exhibit {
    margin: 75px 0;
}

picture.work img,
picture.work video {
    width: 100%;
    margin: 30px 0;
    transform: scale(1);
    transition: 0.25s all ease;
}

picture.work img:hover,
picture.work video:hover {
    transform: scale(0.975);
}

picture.work a:last-child img {
    margin-bottom: 0;
}

article.website .link {
    display: flex;
    position: relative;
    justify-content: center;
    margin: -25px 0 200px;
}

article.website .link a {
    display: block;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(255, 177, 207), rgb(213, 36, 133));
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 0px 15px 35px -15px rgb(213, 95, 144);
    transition: .25s all ease;
}

article.website .link a:hover {
    transform: translateY(2.5px);
    background: linear-gradient(135deg, rgb(232, 100, 150), rgb(165, 16, 81));
    box-shadow: 0px 10px 25px -15px rgb(213, 95, 144);
}

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_3.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_5.png') center center;
}

@media all and (max-width: 1229px) {

    header#header .header-container {
        height: 700px;
        background-position: left 450px;
    }

    .header-container picture.header-main {
        top: 235px;
        left: calc(50% - 200px);
    }

    picture.header-main img.logo {
        max-width: 400px;
    }

    picture.bubble-top svg.bubble-1 {
        top: -135px;
        right: -100px;
        width: 700px;
        transform: rotate(15deg);
    }

    picture.bubble-top svg.bubble-2 {
        top: -105px;
        right: 400px;
        transform: rotate(-15deg);
        width: 450px;
    }

    picture.bubble-bottom svg.bubble-3 {
        top: 535px;
        left: -90px;
        width: 550px;
        transform: rotate(-180deg);
    }

    picture.bubble-bottom svg.bubble-4 {
        top: 615px;
        left: 300px;
        width: 500px;
    }

    picture.bubble img.train {
        max-width: 475px;
    }

    picture.bubble img.train-right {
        right: 35px;
        top: 110px;
    }

    picture.bubble img.train-left {
        left: 75px;
        top: 605px;
    }

    .arrow {
        top: 505px;
        left: calc(50% - 10px);
        min-width: 35px;
        height: 70px;
    }
    
    .arrow i.fa-chevron-down {
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    @keyframes arrow-move {
        50% {
            transform: translateY(20px);
        }
    }

    section#preface {
        margin: -25px 0 0;
        padding: 0 25px;
    }

    section#overview,
    section#visual {
        margin: 50px 0 0;
    }

    section#overview,
    article.ideation,
    article.ideation picture.work,
    article.color,
    article.color picture.work-color,
    article.element .paragraph,
    article.element picture.work,
    article.website .paragraph,
    article.exhibition .paragraph {
        padding: 15px 25px;
    }

    article.ideation .paragraph,
    article.color .paragraph, 
    article.element .paragraph {
        padding-top: 50px;
    }
    
    section#web header.container,
    section#exhibit header.container {
        margin: -200px 75px 0;
        padding: 65px 0;
    }

    section#web header.container {
        box-shadow: 0px -80px 100px -80px rgba(255, 89, 133, 0.8);
    }

    section#exhibit header.container {
        box-shadow: 0px -80px 100px -80px rgba(210, 148, 255, 0.8);
    }

    section#preface .row h3 {
        font-size: 1.55em;
    }

    section#preface .row p {
        font-size: 1.35em;
    }

    section#overview main.container h2,
    section#visual h2.title,
    section#web h2.title,
    section#exhibit h2.title,
    .paragraph h3 {
        font-size: 2.15em;
        line-height: 2.5em;
    }
    
    section#overview main.container p,
    .paragraph p {
        font-size: 1.5em;
        line-height: 2em;
    }
    
    section#visual h2.title::after,
    section#web h2.title::after,
    section#exhibit h2.title::after {
        width: 40px;
        top: 90px;
    }
    article.ideation .paragraph,
    article.color .paragraph, 
    article.element .paragraph,
    article.website .paragraph,
    article.exhibition .paragraph {
        margin: 0 auto;
    }

    picture.work-web,
    picture.work-exhibit {
        margin: 50px 0;
    }

    picture.work img {
        width: 100%;
        padding: 0 125px 35px;
        max-width: none;
        margin: 0;
    }

    picture.work video {
        padding: 0 125px 35px;
    }

    picture.work a:last-child img {
        padding: 0 125px;
    }

    picture.parallax-web {
        background-size: 110%;
    }


}

@media all and (max-width: 980px) {

    section#overview,
    article.ideation, 
    article.color,
    article.element,
    article.website .paragraph, 
    article.exhibition .paragraph {
        padding: 25px;
    }

    article.website .paragraph, 
    article.exhibition .paragraph {
        padding: 25px 75px;
    }

    picture.work img,
    picture.work video {
        padding: 25px 100px;
    }

    picture.work a:last-child img {
        padding: 25px 100px 0;
    }

    article.ideation a img,
    article.element a:last-child img {
        padding: 25px 65px 0 !important;
    }

    picture.work-full {
        height: 95vh;
    }

    picture.parallax-web {
        background-size: 135%;
    }

}

@media all and (max-width: 767px) {

    header#header .header-container {
        height: 650px;
        background-position: left 350px;
    }

    .header-container picture.header-main {
        top: 230px;
        left: calc(50% - 160px);
    }

    picture.header-main img.logo {
        max-width: 325px;
    }

    picture.bubble-top svg.bubble-1 {
        top: -105px;
        right: -250px;
        width: 600px;
        transform: rotate(5deg);
    }

    picture.bubble-top svg.bubble-2 {
        top: -90px;
        right: 250px;
        width: 375px;
    }

    picture.bubble-bottom svg.bubble-3 {
        top: 520px;
        left: -50px;
        width: 420px;
        transform: rotate(-187deg);
    }

    picture.bubble-bottom svg.bubble-4 {
        top: 560px;
        left: 220px;
        width: 420px;
    }

    picture.bubble img.train {
        max-width: 365px;
    }

    picture.bubble img.train-right {
        right: 5px;
        top: 115px;
    }

    picture.bubble img.train-left {
        left: 5px;
        top: 555px;
    }

    .arrow {
        top: 440px;
        left: calc(50% - 10px);
        min-width: 35px;
        height: 65px;
    }
    
    .arrow i.fa-chevron-down {
        font-size: 1.65em;
    }

    section#preface {
        padding: 0 50px;
    }

    section#preface main.container {
        flex-direction: column;
        align-items: center;
        padding: 35px 50px;
    }

    section#preface .row {
        margin-bottom: 50px;
        align-items: center;
    }

    section#preface .row:last-child {
        margin-bottom: 0;
    }

    section#preface .row h3 {
        border-left: none;
        margin-left: 0px;
        padding-left: 0px;
        font-size: 1.45em;
    }

    section#preface .row p {
        font-size: 1.25em;
    }

    section#overview {
        margin: 35px auto;
    }

    section#visual {
        margin: 35px 0;
    }

    section#overview main.container {
        padding: 35px 25px;
        box-shadow: 
        -200px -150px 125px -150px rgba(255, 158, 211, 0.5),
        150px 160px 95px -140px rgba(237, 174, 255, 0.5); 
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    article.ideation .paragraph,
    article.color .paragraph, 
    article.element .paragraph,
    article.website .paragraph,
    article.exhibition .paragraph {
        padding: 25px 50px;
    }

    section#web header.container,
    section#exhibit header.container {
        margin: -165px 50px 0;
        padding: 55px 0;
    }

    section#web header.container {
        box-shadow: 0px -60px 100px -60px rgba(255, 89, 133, 0.8);
    }

    section#exhibit header.container {
        box-shadow: 0px -60px 100px -60px rgba(210, 148, 255, 0.8);
    }

    section#web main.container,
    section#exhibit main.container {
        margin: 0 25px;
    }

    section#overview main.container h2,
    section#visual h2.title,
    section#web h2.title,
    section#exhibit h2.title,
    .paragraph h3 {
        font-size: 1.85em;
        line-height: 2.5em;
    }
    
    section#overview main.container p,
    .paragraph p {
        font-size: 1.35em;
    }

    .multi-line p{
        margin-bottom: 25px;
    }

    section#visual h2.title::after,
    section#web h2.title::after,
    section#exhibit h2.title::after {
        top: 75px;
        width: 25px;
    }

    picture.work {
        margin: 0;
    }

    picture.work-web,
    picture.work-exhibit {
        margin: 25px 0;
    }

    picture.work-full {
        height: 85vh;
    }

    picture.work img,
    picture.work video,
    picture.work a:last-child img,
    picture.work-web img,
    picture.work-web a:last-child img,
    picture.work-exhibit img,
    picture.work-exhibit a:last-child img {
        padding: 50px 25px !important;
        margin: 0;
    }

    article.ideation picture.work,
    article.color picture.work-color,
    article.element picture.work {
        padding: 15px 0;
    }

    picture.work-web a:last-child img,
    picture.work-exhibit a:last-child img {
        padding: 25px 0 0;
    }

    article.website .link {
        margin: -25px 0 100px;
    }

    picture.parallax-web {
        background-size: 130%;
    }


}

@media all and (max-width: 550px) {

    header#header .header-container {
        height: 575px;
        background-position: left 350px;
    }

    .header-container picture.header-main {
        top: 220px;
        left: calc(50% - 135px);
    }

    picture.header-main img.logo {
        max-width: 260px;
    }

    picture.bubble-bottom svg.bubble-3 {
        top: 440px;
    }

    picture.bubble-bottom svg.bubble-4 {
        top: 490px;
        left: 175px;
    }

    picture.bubble img.train {
        max-width: 315px;
    }

    picture.bubble img.train-right {
        right: -50px;
        top: 115px;
    }

    picture.bubble img.train-left {
        left: -60px;
        top: 475px;
    }

    .arrow {
        top: 380px;
        left: calc(50% - 15px);
        min-width: 25px;
        height: 50px;
    }
    
    .arrow i.fa-chevron-down {
        font-size: 1.35em;
    }

    section#preface {
        margin-top: -25px;
    }

    section#preface .row {
        margin-bottom: 35px;
    }

    section#preface .row h3 {
        font-size: 1.35em;
    }

    section#preface .row p {
        font-size: 1.15em;
    }

    section#overview {
        margin: 25px auto;
    }
    
    section#web header.container,
    section#exhibit header.container {
        margin: -150px 25px 0;
        padding: 50px 0 15px;
    }

    section#web header.container {
        box-shadow: 0px -80px 120px -30px rgba(255, 89, 133, 0.85)
    }

    section#exhibit header.container {
        box-shadow: 0px -80px 120px -30px rgba(210, 148, 255, 0.85);
    }

    section#overview main.container h2,
    section#visual h2.title,
    section#web h2.title,
    section#exhibit h2.title,
    .paragraph h3 {
        font-size: 1.75em;
    }

    article.ideation .paragraph,
    article.color .paragraph, 
    article.element .paragraph,
    article.website .paragraph, 
    article.exhibition .paragraph {
        padding: 50px 25px 0;
    }

    section#overview main.container p,
    .paragraph p {
        font-size: 1.25em;
        padding-left: 0;
    }

    article.website .link {
        margin: -25px 0 50px
    }

    article.website .link a {
        padding: 15px 20px;
        font-size: 1.25em;
    }

    picture.work-full {
        margin: 25px auto 50px;
        background-attachment: scroll !important;
    }

    picture.parallax-web {
        background-size: cover;
    }

}