/* general */
main {
    max-width: 1080px;
    margin: 0 auto;
}

/* header */

header#header {
    display: block;
    position: relative;
    width: 100%;
    background: 
    url('../../img/project3/header-interface.png'), 
    url('../../img/project3/header-background-dotted.svg'), 
    rgb(255, 243, 239);
    background-position: calc(50% + 300px) 25px, bottom;
    background-origin: border-box;
    background-size: 1020px, auto;
    background-repeat: no-repeat, repeat-x;
    margin-top: -75px;
    overflow: hidden;
}

header#header .header-container {
    height: 90vh;
    min-height: 625px;
    max-width: 1080px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    padding: 75px 0 0;
    animation: 2s move ease infinite;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header-container img.circle {
    width: 650px;
    display: block;
    position: absolute;
    animation: 5s circle linear infinite;
    z-index: -2;
}

@keyframes circle {
    0% {
        transform: translateX(-32.5%) rotate(0deg);
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    100% {
        transform: translateX(-32.5%) rotate(360deg);
        opacity: .25;
    }
}

.header-container aside {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    min-width: 500px;
}

.header-container aside img {
    max-width: 225px;
}

.header-container aside h2.title {
    display: block;
    margin: 30px 0 50px;
    color: rgb(205, 75, 66);
    font-size: 1.75em;
}

.header-container span.tag {
    font-size: 1.25em;
    background: rgb(255, 247, 245);
    border-radius: 7.5px;
    padding: 12.5px;
    color: rgb(167, 27, 27);
    box-shadow: 0px 25px 75px -10px rgba(50, 50, 50, .35);
}

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_2.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_4.png') center center;
}

@media all and (max-width: 1229px) {

    header#header, main#container {
        padding: 0 25px;
    }

    header#header {
        background-size: contain, auto;
        background-position: calc(50% + 200px) center, bottom;
    }

}

@media all and (max-width: 980px) {
    
    header#header {
        background-position: calc(50% + 225px) -25px, bottom;
        background-size: 785px, auto;
    }

    header#header .header-container {
        align-items: flex-start;
        height: 600px;
    }

    .header-container aside img {
        max-width: 200px;
    }

    .header-container aside h2.title {
        margin: 25px 0 50px;
        font-size: 1.65em;
    }

}

@media all and (max-width: 768px) {

    header#header {
        background-size: 775px, auto;
        background-position: center -50px, bottom;
    }

    header#header .header-container {
        justify-content: flex-end;
        align-items: center;
        height: 725px;
        padding: 75px 0;
    }

    .header-container img.circle {
        width: 500px;
    }

    @keyframes circle {
        0% {
            transform: translateY(30.5%) rotate(0deg);
            opacity: .15;
        }
        50% {
            opacity: .5;
        }
        100% {
            transform: translateY(30.5%) rotate(360deg);
            opacity: .15;
        }
    }

    .header-container aside {
        min-width: 0;
        width: 100% !important;
        align-items: center;
        margin: 0 auto;
    }

    .header-container aside img {
        max-width: 175px;
    }

    .header-container aside h2.title {
        margin: 25px 0 35px;
        font-size: 1.5em;
    }

}

@media all and (max-width: 550px) {

    header#header {
        background-size: 725px, auto;
    }

}