/* general */

#line {
    z-index: 1;
}

header#header,
main#container {
    position: relative;
    width: 100%;
}

h1 {
    font-size: 1.8em;
    line-height: 2.2em;
    font-weight: 700;
}

h2 {
    font-size: 1.7em;
    line-height: 2.1em;
    font-weight: 600;
}

h2.overlay-title {
    font-family: 'roc-grotesk-wide', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    background: linear-gradient(125deg, #ffbbd0, #f8345e 25%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

h3 {
    font-size: 1.6em;
    line-height: 2em;
    font-weight: 500;
}

h4 {
    font-size: 1.5em;
    line-height: 1.9em;
    font-weight: 400;
}

p {
    font-size: 1.25em;
    line-height: 2.15em;
    font-weight: 300;
    letter-spacing: .25px;
}

figcaption {
    font-size: 1.15em;
    font-weight: 300;
    line-height: 2em;
    color: rgb(162, 162, 162);
    letter-spacing: .25px;
    text-align: center;
}


/* header */

header#header .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1080px;
    min-height: 600px;
}

header#header .container::before {
    content: "";
    position: absolute;
    display: block;
    top: -300px;
    right: -150px;
    min-width: 750px;
    height: 750px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(255, 255, 255) 35%, rgb(255, 201, 215), rgb(255, 145, 172) 100%);
    animation: 2.5s circular linear infinite;
    z-index: -2;
}

header#header .container::after {
    content: "";
    position: absolute;
    display: block;
    top: -200px;
    right: -50px;
    min-width: 550px;
    height: 550px;
    border-radius: 50%;
    background: rgb(255,255,255);
    z-index: -1;
}

@keyframes circular {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

header#header .title { 
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 45px 35px 100px -60px rgba(112, 112, 112, .35);
    background: rgba(255, 255, 255, .5);
    transition: .35s all ease;
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
}

header#header .title svg {
    margin: 2em 0;
    width: 70%;
}

header#header .title a {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 25px 0 15px 0;
    font-size: 1.25em;
    line-height: 2em;
    border-radius: 5px;
    border: 1px solid rgba(193, 193, 193, 0.5);
    padding: 7.5px 15px;
    transition: .25s all ease;
}

header#header .title a i {
    font-size: .85em;
    padding-right: 10px;
}

header#header .title a:hover {
    background: rgba(222, 222, 222, 0.25);
    border: 1px solid rgba(82, 82, 82, 0.5);
    transform: scale(1.05);
}

header#header .title a:active {
    transition: .25s all ease;
    transform: scale(0.95);
}

header#header .pattern {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

header#header .pattern svg {
    min-width: 200px;
    position: relative;
    z-index: -1;
}

header#header svg.pattern_dot-left {
    top: -15px;
    right: 500px;
}

header#header svg.pattern_dot-right {
    left: 50px;
}

/* main */

main .main-container {
    display: block;
    position: relative;
    width: 100%;
}

/* section-----intro */

section.intro figure.pic {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

section.intro blockquote.overview {
    display: block;
    position: relative;
    width: 100%;
    padding: 100px 0 50px;
}

blockquote.overview .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 50px;
}

blockquote.overview .container p:first-child {
    padding: 0;
}

blockquote.overview .container p {
    padding: 25px 0 0;
}

/* ------------------- section ------------------- */


/* section-----preface */

section.preface {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 50px 0;
}

section.preface ul.container {
    display: flex;
    max-width: 767px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px 0;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 80px 120px -50px rgba(142, 142, 142, 0.45);
}

section.preface ul.container li,
section.preface li .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.preface li h4 {
    color: rgb(155, 155, 155);
    line-height: 2.5em;
}

section.preface li p,
section.preface li .item p {
    line-height: 2em;
}

/* section-----before */

section.challenge {
    display: block;
    position: relative;
    width: 100%;
}

section.challenge .wrapper {
    display: block;
    position: relative;
    background: linear-gradient(180deg,rgb(249, 249, 249),rgb(255, 255, 255));
    padding: 150px 0;
    margin: -75px auto 0;
    max-width: 1440px;
    border-radius: 25px;
}

section.challenge .overflow-area {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.challenge picture.overflow-deco {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
    border-radius: 25px;
}

section.challenge picture.overflow-deco img {
    width: 30%;
    position: absolute;
}

section.challenge img.left {
    top: -5px;
    left: -5px;
}

section.challenge img.right {
    bottom: -5px;
    right: -5px;
}

section.challenge .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1;
    padding: 0 25px;
}

section.challenge aside.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

section.challenge aside.img {
    position: relative;
    align-items: center;
}

section.challenge aside.img picture.before-img {
    display: block;
    position: relative;
    width: 100%;
    min-height: 650px;
    max-height: calc(100vh / 1.35);
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-shadow: 0px 15px 85px -5px rgba(156, 156, 156, 0.35);
    border-radius: 15px;
    transition: .35s all ease;
}

section.challenge aside.img picture.before-img:hover {
    box-shadow: 0px 25px 55px -15px rgba(156, 156, 156, 0.25);
    transform: scale(1.015);
}

section.challenge aside.img picture.before-img::-webkit-scrollbar {
    display: none;
}

section.challenge aside.img figcaption {
    padding: 25px 0;
}

section.challenge aside.img span {
    font-weight: 500;
    color: rgb(139, 139, 139);
}

section.challenge picture.before-img img {
    width: 100%;
}

section.challenge aside.content {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    padding-left: 50px;
    align-self: flex-start;
}

section.challenge aside.content header {
    padding: 25px 0;
}

section.challenge aside.content h2 {
    line-height: 2.5em;
}

section.challenge aside.content h2::after {
    content: "";
    position: absolute;
    display: block;
    top: 15px;
    right: -25px;
    width: 70px;
    height: 15px;
    background: rgb(255, 179, 196);
}

section.challenge aside.content main {
    position: relative;
    width: 100%;
    height: 100%;
}


section.challenge aside.content main::after {
    content: "\f103";
    position: relative;
    display: block;
    font-size: 4em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    padding-top: 50px;
    padding-left: 3px;
    -webkit-font-smoothing: antialiased;
    color: #ffb5c5;
    animation: 1s scroll ease infinite;
}

@keyframes scroll {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    to {
        top: 0;
    }
} 


section.challenge aside.content p {
    padding: 0 0 25px 25px;
}

section.challenge aside.content p:last-child {
    padding: 0 0 0 25px;
}

/* section-----insight */

section.insight {
    display: block;
    position: relative;
    width: 100%;
}

section.insight .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1180px;
    height: 100%;
    margin: -25px auto 0;
    padding-bottom: 200px;
    z-index: 2;
}

section.insight aside {
    position: sticky;
    position: -webkit-sticky;
    top: 50px;
    max-width: 300px;
    width: 30%;
    height: 25vh;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 50%;
    background: #fff1f4;
}

section.insight aside h2 {
    line-height: 2em;
    position: relative;
}

section.insight main {
    width: 70%;
} 

section.insight ol li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: 300px; */
    padding: 50px;
    margin-bottom: 25px;
    border-radius: 15px;
    transition: .25s all ease;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207);
    /* box-shadow: 0px -50px 85px -50px rgba(150, 150, 150, 0.25); */
}

/* section.insight ol li.left {
    left: 10px;
}

section.insight ol li.right {
    right: 10px;
} */

section.insight ol li.left:hover {
    border: 1px solid rgb(240, 214, 255);
    box-shadow: 15px 15px 0px 0px rgb(246, 232, 255);
    transform: translateX(-15px) translateY(-15px);
}

section.insight ol li.right:hover {
    border: 1px solid rgb(255, 233, 239);
    box-shadow: -15px 15px 0px 0px rgb(255, 233, 239);
    transform: translateX(15px) translateY(-15px);
}

section.insight li h3.sub-title {
    background: linear-gradient(300deg, #bdbdbd 51%, #3a3a3a 87%);
    padding-bottom: 20px;
    text-align: left;
}

section.insight ol li.left:hover h3 {
    background: linear-gradient(300deg, #c4a4ff 51%, #6a23e4 87%);
}

section.insight ol li.right:hover h3 {
    background: linear-gradient(300deg, #ffa1bd 51%, #e4234d 87%);
}

section.insight li h3.sub-title,
section.insight ol li:hover h3.sub-title {
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

section.insight li h3::after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 0.5px;
    background: #ebebeb;
    margin-top: 10px;
}

section.insight li p {
    text-align: justify;
}

/* section-----objective */

section.objective {
    background: linear-gradient(180deg, rgb(255, 233, 240), rgb(255, 255, 255));
    margin-bottom: 150px;
}

section.objective::before {
    content: "";
    position: relative;
    display: block;
    top: -80px;
    background-image: url("../../img/project1-2/wave.svg");
    background-repeat: repeat-x;
    width: calc(100vw * 6);
    height: 80px;
    transform: translate3d(0, 0, 0);
    animation: wave 2.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-animation: wave 2.5s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1575px;
	}
}

section.objective .container {
    display: block;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}

section.objective header,
section.objective main.slogan {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1080px;
}

section.objective main.slogan {
    padding: 25px 0 100px;
}

section.objective main.slogan h3 {
    color: rgb(240, 35, 86);
    text-shadow: 0px 5px 8px rgb(255, 206, 226);
}

/* section.objective main.slogan h3::before,
section.objective main.slogan h3::after {
    content: "";
    position: relative;
    display: block;
    width: 35%;
    height: 1px;
    background: rgb(228, 228, 228);
    margin: 0 auto;
}

section.objective main.slogan h3::before {
    margin-bottom: 20px;
}

section.objective main.slogan h3:after {
    margin-top: 20px;
} */

section.objective ul.card,
section.objective ul.card li {
    display: flex;
}

section.objective ul.card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -125px;
}

section.objective ul.card li {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 30%;
    box-shadow: 0px 55px 90px -27px rgba(255, 60, 103, 0.25);
    overflow: hidden;
    transition: .35s all ease;
}

section.objective ul.card li:hover {
    transform: translateY(10px);
    box-shadow: 0px 25px 30px -30px rgba(124, 124, 124, 0.25);
}

section.objective ul.card picture {
    display: block;
    position: relative;
}

section.objective ul.card picture img {
    width: 100%;
    border-radius: 10px;
}

section.objective ul.card .container {
    padding: 0px 25px 40px;
}

section.objective ul.card h3 {
    line-height: 3em;
    background: linear-gradient(300deg, #bdbdbd 51%, #3a3a3a 87%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

section.objective ul.card p {
    line-height: 2.15em;
    text-align: justify;
}

/* section-----design */

/* article.process */

article.process {
    padding: 100px 0;
}

article.process .container {
    position: relative;
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 25px;
}

article.process main.content {
    max-width: 767px;
    position: relative;
}


article.process main.content header h2 {
    padding-bottom: 50px;
}

article.process main.content p {
    padding-bottom: 25px;
}

article.process main.content p:last-child {
    padding: 0;
}

article.process main.content .wrapper {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid rgb(237, 237, 237);
}

article.process picture img {
    width: 100%;
    padding: 100px 0 0;
    display: block;
}

article.process picture img.mobile {
    display: none;
}


@media all and (max-width: 1490px) {

    /* header */
    /* section-----before */
    /* section-----objective */

    header#header,
    section.challenge {
        padding: 0 25px;
    }

    /* section-----before */

    section.challenge aside.content h2::after {
        right: 0;
    }

    section.challenge aside.content p,
    section.challenge aside.content p:last-child {
        padding: 0 25px 25px 25px;
    }

}

@media all and (max-width: 1280px) {

    /* section-----insight */

    section.insight .container {
        padding: 0 25px 200px;
    }

    /* section-----objective */

     section.objective .container {
        padding: 0 25px;
    }


}

@media all and (max-width: 980px) {

    /* general */

    h1 {
        font-size: 1.7em;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 1.4em;
        line-height: 2em;
        font-weight: 400;
    }

    /* section-----preface */

    section.preface {
        padding: 25px 50px;
    }

    /* section-----before */      

    section.challenge .wrapper {
        border-radius: 15px;
    }

    section.challenge .wrapper::before {
        background-position: top left;
        background-size: contain;
        right: -150px;
        top: -150px;
    }

    section.challenge aside.content h2 {
        line-height: 2em;
    }

    section.challenge aside.content h2::after {
        top: 7.5px;
        right: 5px;    
    }

    section.challenge aside.content p,
    section.challenge aside.content p:last-child {
        padding: 0 15px 25px 15px;
    }

    section.insight ol li {
        padding: 35px;
    }

    /* section-----objective */

    section.objective ul.card {
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: -175px;
    }

    section.objective ul.card li {
        width: 47.5%;
        margin-bottom: 50px;
    }

}

@media all and (max-width: 768px) {

    /* general */

    h1 {
        font-size: 1.6em;
    }
    
    h2 {
        font-size: 1.6em;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    h4 {
        font-size: 1.4em;
    }
    
    p {
        font-size: 1.2em;
    }

    figcaption {
        font-size: 1em;
    }

    #decoration-line {
        z-index: 1;
    }

    /* header */

    header#header .container {
        min-height: 450px;
        justify-content: center;
        align-items: center;
    }

    header#header .container::before {
        top: -150px;
        right: -100px;
        min-width: 550px;
        height: 550px;
        animation-duration: 2s;
        animation-timing-function: ease;
    }

    header#header .container::after {
        top: -100px;
        right: -50px;
        min-width: 400px;
        height: 400px;
    }

    header#header .title {
        margin-top: 50px;
        align-items: center;
        z-index: 3;
        padding: 25px 15px;
        max-width: 275px;
        box-shadow: 0px 25px 100px -60px rgba(57, 57, 57, 0.5);
    }

    header#header .title svg {
        margin: 1.5em 0;
        width: 65%;
    }

    header#header .title a {
        font-size: 1.25em;
        padding: 5px 10px;
    }

    header#header .pattern svg {
        min-width: 150px;
    }

    header#header svg.pattern_dot-left {
        right: 0;
        left: -150px;
        z-index: 0;
    }

    header#header svg.pattern_dot-right {
        left: 75px;
    }

    /* section-----intro */

    main .container blockquote.overview {
        padding: 50px 0 25px;
    }

    blockquote.overview .container {
        padding: 0 25px;
    }

    blockquote.overview .container p:first-child {
        padding: 0 15px;
    }

    blockquote.overview .container p {
        padding: 35px 15px 0;
    }

    /* section-----preface */

    section.preface {
        padding: 25px 75px;
    }

    section.preface ul.container {
        flex-direction: column;
    }

    section.preface ul.container li:first-child,
    section.preface ul.container li:nth-child(2) {
        padding-bottom: 25px;
    }

    section.preface li p,
    section.preface li .item p {
        padding: 0 !important;
        line-height: 2em;
    }

    /* section-----before */

    section.challenge .wrapper {
        padding: 150px 0 100px;
        margin-top: -75px;
    }

    section.challenge picture.overflow-deco img {
        width: 50%;
    }

    section.challenge .container {
        flex-direction: column;
    }
    
    section.challenge aside.column {
        width: 100%;
    }

    section.challenge aside.img picture.before-img {
        min-height: 650px;
    }

    section.challenge aside.content {
        position: relative;
        top: 0;
        padding: 0 0 100px;
        order: 1;
    }

    section.challenge aside.content main::after {
        text-align: center;
        font-size: 3em;
        padding-top: 25px;
    }

    section.challenge aside.content h2::after {
        top: 10px;
        height: 12.5px;
    }
    
    section.challenge aside.content p,
    section.challenge aside.content p:last-child {
        padding: 0 10px 25px 10px;
    }

    section.challenge aside.content p {
        padding-top: 15px;
    }

    section.challenge aside.img {
        order: 2;
    }

    /* section-----insight */

    section.insight .container {
        flex-direction: column;
        padding: 0 0 100px;
    }

    section.insight aside,
    section.insight main {
        width: 100%;
    } 

    section.insight aside {
        position: relative;
        justify-content: center;
        margin: 0 0 25px;
        padding: 0 25px;
        top: 0;
    }

    section.insight aside span.decorate-line {
        display: none;
    }

    section.insight main {
        padding: 0 25px 50px;
    }

    section.insight ol li {
        min-height: auto;
        left: 0 !important;
        right: 0 !important;
    }

    section.insight ol li.left:hover {
        box-shadow: 10px 10px 0px 0px rgb(240, 214, 255);
    }

    section.insight ol li.right:hover {
        box-shadow: -10px 10px 0px 0px rgb(255, 233, 239);
    }

    section.insight li h3.sub-title {
        background: linear-gradient(335deg, #f5f5f5 28%, #696969 68%);
        line-height: 2em;
        padding-bottom: 10px;
    }

    section.insight li h3.sub-title,
    section.insight ol li:hover h3.sub-title {
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
    }

    /* section-----objective */

    section.objective {
        margin-bottom: 100px;
    }

    section.objective main.slogan {
        padding: 25px 0 50px;
    }

    /* section-----design */

    /* article.process */


    article.process main.content .wrapper {
        margin-left: 15px;
    }

    article.process main.content h2 {
        padding-bottom: 40px;
    }

    article.process picture img {
        padding-top: 50px;
    }
    

}

@media all and (max-width: 550px) {

    /* section-----preface */

    section.preface {
        padding: 25px 50px;
    }

    section.challenge aside.img picture.before-img {
        min-height: 550px;
    }

    /* section.challenge aside.img::after,
    section.challenge aside.img:hover::after {
        bottom: 72px;
    } */

    /* section-----insight */

    section.insight main {
        padding: 0 0 50px;
    }

     /* section-----objective */

    section.objective ul.card {
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0 25px;
    }

    section.objective ul.card li {
        width: 100%;
        margin-bottom: 50px;
    }

    section.objective ul.card li:last-child {
        margin: 0;
    }

    /* section-----design */

        /* article.process */

    article.process {
        padding: 50px 0 0;
    }

    article.process picture img.desktop {
        display: none;
    }

    article.process picture img.mobile {
        display: block;
    }

}