/* main */

section.objective,
section.design,
article.process .container,
article.sitemap-ia .container,
article.content .container {
    display: block;
    position: relative;
    width: 100%;
}

/* section----intro */

section.intro figure.pic {
    max-width: 1080px;
    margin-top: -50px;
}

section.intro figure.pic video {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 25px;
    box-shadow: 0px 55px 160px -85px rgba(161, 161, 161, 0.5);
}


/* section-----design */

/* article.sitemap-ia */
/* article.content */
/* article.component */

article.sitemap-ia,
article.content,
article.component,
article.visual {
    padding: 75px 0;
}

article.sitemap-ia .container,
article.content .container,
article.component .container,
article.visual .container {
    width: 100%;
    position: relative;
    display: block;
}

article.sitemap-ia .container header,
article.content .container header,
article.component .container header,
article.sitemap-ia main.content,
article.content main.content,
article.component main.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 980px;
    margin: 0 auto;
}

article.sitemap-ia header h2 {
    font-size: 2.5em;
    padding-bottom: 25px;
}

article.sitemap-ia header h3,
article.content header h3,
article.component header h3 {
    font-size: 2em;
}

article.sitemap-ia main.content,
article.content main.content {
    margin: 0 auto;
    padding: 50px 0;
}

article.sitemap-ia main.content:last-child,
article.content main.content:last-child {
    padding: 50px 0;
}

article.sitemap-ia main.content .wrapper,
article.content main.content .wrapper {
    max-width: 767px;
    border-left: 2px solid rgb(255, 205, 222);
    padding-left: 25px;
}

article.sitemap-ia main.content p,
article.content main.content p {
    padding: 0 0 25px;
}

article.sitemap-ia main.content p:last-child,
article.content main.content p:last-child {
    padding: 0;
}

article.sitemap-ia main.content span,
article.content main.content span {
    font-weight: 500;
}

article.sitemap-ia figure,
article.sitemap-ia figure picture,
article.sitemap-ia figure picture a,
article.content picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

article.sitemap-ia figure picture img {
    box-shadow: 0px 20px 75px -30px rgba(161, 161, 161, 0.5);
}

article.sitemap-ia figure picture a,
article.content picture {
    max-width: 1280px;
}

article.content picture {
    margin: 0 auto;
}

article.sitemap-ia figure figcaption {
    padding: 25px 0;
}

article.sitemap-ia img.mobile,
article.sitemap-ia figure figcaption span,
article.content img.mobile {
    display: none;
}

article.sitemap-ia picture img,
article.content picture img {
    width: 100%;
    border-radius: 20px;
}


/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_1.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_3.png') center center;
}



@media all and (max-width: 1375px) {

    /* section-----intro */

    /* section-----design */

        /* article.sitemap-ia */
        /* article.content */
        /* article.component */

    section.intro figure.pic,
    article.sitemap-ia .container header,
    article.content .container header,
    article.component .container header,
    article.sitemap-ia figure,
    article.content picture {
        padding: 0 25px;
    }

    article.sitemap-ia main.content,
    article.content main.content {
        padding: 50px 25px;
    }

    article.sitemap-ia main.content:last-child,
    article.content main.content:last-child {
        padding: 50px 25px 0;
    }
    
}

@media all and (max-width: 768px) {

    /* section-----intro */

    section.intro figure.pic {
        margin-top: -25px;
    }

    section.intro figure.pic video {
        box-shadow: 0px -5px 160px -55px rgba(114, 114, 114, 0.75);
        border-radius: 15px;
    }

    /* section-----design */

        /* article.sitemap-ia */
        /* article.content */

    article.sitemap-ia header h2 {
        font-size: 2em;
        padding-bottom: 15px;
    }
    
    article.sitemap-ia header h3,
    article.content header h3,
    article.conponent header h3 {
        font-size: 1.75em;
    }

    article.sitemap-ia main.content,
    article.content main.content {
        padding: 40px;
    }

    article.sitemap-ia main.content:last-child,
    article.content main.content:last-child {
        padding: 40px 25px 0;
    }

    article.sitemap-ia main.content p,
    article.content main.content p {
        font-size: 1.15em;
    }

    article.sitemap-ia figure {
        padding: 0 25px;
    }
    
    article.sitemap-ia a.desktop,
    article.content img.desktop {
        display: none;
    }

    article.sitemap-ia img.mobile,
    article.content img.mobile {
        display: block;
    }

    article.sitemap-ia figure figcaption span {
        display: inline;
        font-weight: 400;
    }

    article.sitemap-ia figure picture {
        width: 100%;
        max-height: 70vh;
        align-items: flex-start;
        overflow: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE & Edge */
        border-radius: 20px;
    }

    article.sitemap-ia figure picture::-webkit-scrollbar {
        display: none;
    }

    article.sitemap-ia picture img {
        width: 300vw;
        padding: 0;
    }

}