/* General */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-decoration: none;
    font-family: 'Karla','Noto Sans TC',sans-serif;
    color: #666;
}

body {
    font-size: 12px;
}

/* navigation */

nav {
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    position: relative;
    background-color: white;
    box-shadow: 0px 10px 50px rgba(219, 219, 219, 0.4);
    /* border-bottom: 1px solid rgba(179, 179, 179, 0.3); */
}

nav > .nav-container {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.nav-container > .logo{
    display: block;
    padding: 20px 0;
    max-width: 300px;
    float: left;
}

.logo a {
    font-size: 1.5em;
    font-weight: 600;
    text-align: left;
}

.nav-container > .nav-menu {
    margin: 25px 0;
    float: right;
}

.nav-menu_mobileBtn {
    display: none;
}

.nav-menu ul {
    font-weight: 700;
    font-size: 1.1em; 
    text-align: right;
    width: 100%;   
}

.nav-menu li {
    display: inline;
    margin: 0 10px;
}

.nav-menu li:last-child {
    margin-left: 20px;
}

.nav-menu li:first-child a {
    position: relative;
}

.nav-menu li:first-child a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 18px;
    left: 0;
    background-color: #666;
    visibility: hidden;
    transition: 0.25s all ease-in;
    transform: scaleX(0);
}

.nav-menu li:first-child a:hover::before {
    visibility: visible;
    /* width: 100%; */
    transition: 0.15s all ease-in-out;
    transform: scaleX(1);
}

.btn_nav-contact a {
    color: #78c4f7;
    padding: 8px 10px;
    border-radius: 7px;
    border: 1px solid #78c4f7;
    transition: 0.15s all ease-in;
}

.btn_nav-contact a:hover {
    background: #78c4f7;
    color: white;
    transition: 0.25s all ease-out;
}

/* header */

header {
    position: relative;
}

@media (max-width: 767px) {

    /* logo */

    .nav-container > .logo{
        padding: 20px 0;
        max-width: 200px;
    }

    .logo a {
        font-size: 1.35em;
    }

    /* nav-Btn for mobile */

    .nav-menu {
        display: none;
    }

    .nav-menu_mobileBtn {
        display: block;
        position: relative;
        padding: 23px 0;
        float: right;
    }
    
    li.menuBtn {
        width: 20px;
        height: 3px;
        margin-bottom: 4px;
        background-color: rgb(110, 110, 110);
    }

    li.menuBtn:last-child {
        margin-bottom: 0px;
    }

}