/* General */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Karla','Noto Sans TC',sans-serif;
    color: #666;
}

html, body {
    overflow-x: hidden !important;
}

body {
    font-size: 12px;
    
}

/* When mobile is landspace mode */

@media screen and 
       (max-width: 900px) and
       (max-height: 650px) and
       (orientation: landscape) {
    #wrapper {
        display: none;
    }

    #landscapeContent {
        display: flex !important;
        width: 100vw;
        height: 100vh;
        position: fixed;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        user-select: none;
    }

    #landscapeContent::before {
        content: "";
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%; 
        height: 100%;  
        background: url(../img/index/index_pattern.svg);
        background-size: cover;
        z-index: -1;
        opacity: 0.75;
    }

    .notAllow {
        text-align: left;
        padding: 0 50px;
    }

    .notAllow p {
        font-family: ar-udjingxiheib5, sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5em;
        line-height: 2em;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .notAllow span {
        color: red;
    }
}

#landscapeContent {
    display: none;
}

/* navigation */

nav {
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    position: fixed;
    background: hsla(0,0%,100%,.9);
    transition: 0.25s transform ease-in-out;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* box-shadow: 0px 5px 50px rgba(235, 235, 235, 0.3); */
    /* border-bottom: 1px solid rgba(179, 179, 179, 0.3); */
}

nav.scrollUp {
    transform: translateY(-75px);
}

nav > .nav-container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.nav-container > .logo{
    display: block;
    padding: 24px 0;
    max-width: 300px;
    float: left;
    animation: fadeInDown;
    animation-duration: 1s;
}

.logo a {
    font-size: 1.6em;
    font-weight: 600;
    text-align: left;
    color: rgb(173, 173, 173);
    transition: 0.15s all linear;
}

.logo a:hover {
    color: rgb(78, 78, 78);
}

/* nav-menu */

.menuBtn {
    display: none;
}

.nav-container > .nav-menu {
    margin: 20px 0;
    float: right;
}

.nav-menu ul {
    font-size: 1.25em;
    width: 100%;   
    letter-spacing: 0.3px;
    animation: fadeInDown;
    animation-duration: 1s;
}

.nav-menu li {
    display: inline;
    margin: 0 20px;
}

.nav-menu li:last-child {
    margin: 0 0 0 20px;
}

/* nav-menu li animate link */

.nav-menu li a {
    font-family: Karla, ar-udjingxiheib5 ,sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition: 0.25s all ease;
    color: rgb(173, 173, 173);
}

.nav-menu li a:hover {
    transform: translateY(1px);
    color: rgb(78, 78, 78);
}

.nav-menu li a::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 24px;
    left: 0;
    right: 0;
    background-color: rgb(139, 139, 139);
    opacity: 0.5;
    transition: .25s all ease;
    transform-origin: bottom left;
    transform: scaleX(0);
}

.nav-menu li a:hover::before {
    transition: .25s all ease;
    transform-origin: bottom right;
    transform: scaleX(1);
}

.nav-menu li:last-child a::before {
    display: none;
}

.nav-menu li:last-child a:hover::before {
    display: none;
}

.nav-menu li:last-child a {
    color: #86ceff;
    padding: 7px 9px;
    border-radius: 7px;
    border: 1px solid #86ceff;
    transition: 0.15s all ease-in;
}

.nav-menu li:last-child a:hover {
    background: #67c1fd;
    border-color: #67c1fd;
    color: white !important;
    transition: 0.25s all ease-out;
}

/* deco-line */

#decoration-line {
    padding-top: 75px;
    position: relative;
    display: block
}

.line {
    height: 1px;
    background: linear-gradient(to bottom right,#c0ffea, #8cd5ff);
    border-radius: 50px;
    margin: 0 auto;
    max-width: 1280px;
    opacity: .75;
}

/* deco-line nav-inner */

#decoration-line_nav {
    display: none;
}

/* 1280+margin left 25+right 25 */

@media (max-width: 1329px) {

    /* nav deco-line */

    #decoration-line {
        margin: 0 25px;
    }
    
}

@media (max-width: 767px) {

    /* logo */

    .nav-container > .logo{
        padding: 20px 0;
        max-width: 200px;
        position: relative;
        z-index: 1;
    }

    .logo a {
        font-size: 1.35em;
    }

    /* deco-line */

    #decoration-line {
        padding-top: 61px;
    }

    .line {
        height: 1px;
    }

    /* deco-line nav-inner */

    #decoration-line_nav {
        display: block;
        position: relative;
        margin: 0 25px;
        z-index: 1;
    }

    .line_nav {
        height: 1px;
        background: linear-gradient(to bottom right,#c0ffea, #8cd5ff);
        margin: 0 auto;
        max-width: 1280px;
        opacity: .75;
    }

    /* nav-menu disappear */

    .nav-menu {
        display: none;
    }

    /* .nav-menu open */

    .nav-menu.collapse::before{
        content: "";
        display: table;
        clear: both;
    }

    .nav-menu.collapse {
        display: block;
        position: relative;
        float: none;
        margin: 0 -25px;
        box-shadow: 0px 100px 100px rgba(230, 230, 230, 0.5);
        animation: fadeIn;
        animation-duration: .5s;
    }

    .nav-menu.collapse ul {
        text-align: left;
        padding: 0 25px;
        height: 30vh;
        animation: none;
        overflow: hidden;
        z-index: 1;
    }
    
    .nav-menu.collapse li {
        display: block;
        margin: 23px 0;
        font-size: 1em;
        animation: fadeInDown;
        animation-duration: .5s;
    }

    /* nav-menu open animate link */

    .nav-menu li a {
        position: relative;
        display: inline-block;
        transition: .3s all linear;
    }

    .nav-menu li a:hover {
        transform: translateX(5px);
        transition: .3s all ease-in-out;
    }

    .nav-menu li a::before {
        display: none;
    }

    .nav-menu li a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a::before {
        display: none;
    }

    .nav-menu li:last-child a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a {
        transform: none;
    }

    /* nav-Btn for mobile */

    .menuBtn {
        display: block;
        position: relative;
        width: 23px;
        margin: 22px 0;
        float: right;
        cursor: pointer;
        z-index: 1;
        animation: fadeIn;
        animation-duration: 1.5s;
    }
    
    .menuBtn li {
        display: block; 
        height: 3px;
        margin-bottom: 4px;
        background-color: rgb(173, 173, 173);
        border-radius: 30px;
        transition: 0.25s linear;
    }

    .menuBtn li:last-child {
        margin-bottom: 0px;
    }

    .manuBtn.btnActive li {
        cursor: pointer;
    }

    .menuBtn.btnActive li:first-child {
        transform: translateY(7px) rotate(45deg);
        transition: 0.25s all ease;
        background-color: rgb(78, 78, 78);
    }

    .menuBtn.btnActive li:nth-child(2) {
        opacity: 0;
        transition: 0.25s all ease;
    }

    .menuBtn.btnActive li:last-child {
        transform: translateY(-7px) rotate(-45deg);
        transition: 0.25s all ease;
        background-color: rgb(78, 78, 78);
    }

}