/* General */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Karla','Noto Sans TC',sans-serif;
    color: #666;
}

body {
    font-size: 12px;
}

/* navigation */

nav {
    width: 100%;
    padding: 0 25px;
    display: inline-block;
    position: fixed;
    background-color: white;
    /* box-shadow: 0px 10px 50px rgba(219, 219, 219, 0.3); */
    /* border-bottom: 1px solid rgba(179, 179, 179, 0.3); */
    transition: 0.3s top;
}

nav > .nav-container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.nav-container > .logo{
    display: block;
    padding: 25px 0;
    max-width: 300px;
    float: left;
}

.logo a {
    font-size: 1.6em;
    font-weight: 600;
    text-align: left;
}

/* nav-menu */

.menuBtn {
    display: none;
}

.nav-container > .nav-menu {
    margin: 21px 0;
    float: right;
}

.nav-menu ul {
    font-weight: 400;
    font-size: 1.2em;
    width: 100%;   
    letter-spacing: 0.3px;
}

.nav-menu li {
    display: inline;
    margin: 0 15px;
}

.nav-menu li:last-child {
    margin: 0 0 0 20px;
}

/* nav-menu li animate link */

.nav-menu li a {
    position: relative;
    display: inline-block;
    transition: 0.25s all ease;
}

.nav-menu li a:hover {
    transform: translateY(1px);
}

.nav-menu li a::before {
    content: "";
    position: absolute;
    height: 1px;
    top: 25px;
    left: 0;
    right: 0;
    background-color: rgb(139, 139, 139);
    opacity: 0.5;
    transition: 0.25s all ease;
    transform-origin: bottom left;
    transform: scaleX(0);
}

.nav-menu li a:hover::before {
    transition: 0.25s all ease;
    transform-origin: bottom right;
    transform: scaleX(1);
}

.nav-menu li:last-child a::before {
    display: none;
}

.nav-menu li:last-child a:hover::before {
    display: none;
}

.nav-menu li:last-child a {
    color: #86ceff;
    padding: 7px 9px;
    border-radius: 7px;
    border: 1px solid #86ceff;
    transition: 0.15s all ease-in;
}

.nav-menu li:last-child a:hover {
    background: #86ceff;
    color: white !important;
    transition: 0.25s all ease-out;
}

/* deco-line */

#decoration-line {
    padding-top: 75px;
    position: relative;
    display: block;
    z-index: -1;
}

.line {
    height: 2px;
    background: linear-gradient(to bottom right,#c0ffea, #8cd5ff);
    border-radius: 50px;
    margin: 0 auto;
    max-width: 1080px;
    opacity: 0.5;
}

/* deco-line nav-inner */

#decoration-line_nav {
    display: none;
}

/* 1080+margin left 25+right 25 */

@media (max-width: 1129px) {

    /* nav deco-line */

    #decoration-line {
        margin: 0 25px;
    }
    
}

@media (max-width: 767px) {

    /* logo */

    .nav-container > .logo{
        padding: 20px 0;
        max-width: 200px;
        position: relative;
        z-index: 1;
    }

    .logo a {
        font-size: 1.35em;
    }

    /* deco-line */

    #decoration-line {
        padding-top: 59px;
    }

    .line {
        height: 2px;
    }

    /* deco-line nav-inner */

    #decoration-line_nav {
        display: block;
        position: relative;
        margin: 0 25px;
        z-index: 1;
    }

    .line_nav {
        height: 2px;
        background: linear-gradient(to bottom right,#c0ffea, #8cd5ff);
        margin: 0 auto;
        max-width: 1080px;
        opacity: 0.5;
    }

    /* nav-menu disappear */

    .nav-menu {
        display: none;
    }

    /* .nav-menu open */

    .nav-menu.navOpen::before, .nav-menu.navOpen::after {
        content: "";
        display: table;
    }

    .nav-menu.navOpen::before {
        clear: both;
    }

    .nav-menu.navOpen {
        display: block;
        position: relative;
        float: none;
        margin: 0 -25px;
        background-color: white;
        box-shadow: 0px 10px 50px rgba(218, 218, 218, 0.5);
    }

    .nav-menu.navOpen ul {
        text-align: left;
        width: 100%;
        height: 203px;
        padding: 0 25px;
        box-sizing: border-box;
    }
    
    .nav-menu.navOpen li {
        display: block;
        margin: 25px 0;
        font-size: 1em;
    }

    /* nav-menu open animate link */

    .nav-menu li a {
        position: relative;
        display: inline-block;
        transition: 0.25s all linear;
    }

    .nav-menu li a:hover {
        transform: translateX(5px);
        transition: 0.15s all ease-in-out;
    }

    .nav-menu li a::before {
        display: none;
    }

    .nav-menu li a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a::before {
        display: none;
    }

    .nav-menu li:last-child a:hover::before {
        display: none;
    }

    .nav-menu li:last-child a {
        transform: none;
    }

    /* nav-Btn for mobile */

    .menuBtn {
        display: block;
        position: relative;
        width: 22px;
        margin: 21px 0;
        float: right;
        cursor: pointer;
        z-index: 1;
    }
    
    .menuBtn li {
        display: block; 
        height: 3px;
        margin-bottom: 4px;
        background-color: rgb(110, 110, 110);
        border-radius: 30px;
        transition: 0.25s linear;
    }

    .menuBtn li:last-child {
        margin-bottom: 0px;
    }

    .menuBtn.btnActive li:first-child {
        transform: translateY(7px) rotate(-45deg);
        transition: 0.25s all ease;
    }

    .menuBtn.btnActive li:nth-child(2) {
        opacity: 0;
        transition: 0.25s all ease;
    }

    .menuBtn.btnActive li:last-child {
        transform: translateY(-7px) rotate(45deg);
        transition: 0.25s all ease;
    }

}