/* general set */

#header > .intro, main, footer {
    max-width: 1080px;
    margin: 0 auto;
}

main, footer {
    margin: 25px 25px 0;
}

/* header */

header {
    position: relative;
    margin: 50px 0;
}

/* img */

.img {
    display: block;
    position: relative;
    float: right;
    animation: fadeIn 1.5s;
}

img.profile {
    max-width: 250px;
    display: block;
    position: absolute;
    margin-top: 150px;
    animation: move 2s infinite;
    border-radius: 250px;
    z-index: 0;
    box-shadow: 0px 20px 40px rgba(124, 124, 124, 0.3);

}

@keyframes move {
    0% {
        top: 0px;
    }
    50% {
        top: 5px;
        box-shadow: 0px 10px 20px rgba(124, 124, 124, 0.5);
    }
    100% {
        top: 0px;
    }
} 

img.pattern {
    max-width: 300px;
    margin-top: 40px;
    z-index: -1;
    overflow-x: hidden;
}

/* parapraph text */

.intro > .paragraph {
    width: 65%;
    padding: 50px 0;
}

.intro > .paragraph h1 {
    font-weight: 700;
    font-size: 4em;
    animation: fadeInUp;
    animation-duration: 1s;
    margin-bottom: 30px;
    margin-left: -4px;
}

.intro > .paragraph h3 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.75em;
    animation: fadeInUp;
    animation-duration: 1.5s;
    color: rgb(139, 139, 139);
}

.paragraph p {
    font-weight: 100;
    font-size: 1.5em;
    line-height: 2em;
    display: block;
    margin: 30px 0;
    color: #666;
    animation: fadeInUp;
    animation-duration: 2s;
}

.paragraph a {
    color: rgb(99, 99, 99);
    transition: 0.25s all ease;
    opacity: .5;
}

.paragraph a:hover:first-child {
    color: #f36;
}

.paragraph a:hover:nth-child(2) {
    color: #C24631;
}

.paragraph a:hover:last-child {
    color: rgb(0, 0, 0);
}

.paragraph a:hover {
    opacity: 1;
}

/* line-intro list */

.link-intro {
    position: relative;
    display: block;
    font-size: 2em;
    margin: 50px 0;
    animation: fadeInUp;
    animation-duration: 2s;
}

.link-intro li {
    display: inline;
    margin: 0 15px;
}

.link-intro li:first-child {
    margin-left: 0;
}

.linkedin {
    color: rgb(0,119,181);
}

.behance {
    color: #1769ff;
}

.dribbble {
    color: #ea4c89;
}

.link-intro a {
    transition: .15s all linear;
}

/* work area */


@media (max-width: 1129px) {

    /* header */

    header {
        margin: 25px 25px 0;
    }

    /* parapraph text */

    .intro > .paragraph {
        width: 70%;
    }

    .intro > .paragraph h1 {
        font-size: 3.5em;
    }

    /* img */

    img.profile {
        width: 60%;
        margin-left: 65px;
        margin-top: 150px;
    }

    img.pattern {
        width: 90%;
        float: right;
        margin-top: 50px;

    }
}

@media (max-width: 767px) {

    /* img */

    .img::before, .img::after {
        content: "";
        display: table;
    }

    .img {
        width: 100%;
    }

    img.profile {
        position: relative;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
        animation: move 2s infinite;
        box-shadow: 0px 20px 40px rgba(202, 202, 202, 0.2);
    }

    img.pattern {
        position: absolute;
        width: 250px;
        transform: rotate(45deg);
        margin-top: -350px;
        margin-left: 30%;
        z-index: -2;
    }

    /* parapraph text */

    .intro > .paragraph {
        padding-top: 20px;
        width: 100%;
    }

    .intro > .paragraph h1 {
        font-size: 2.5em;
        margin-left: -3px;
    }

    .intro > .paragraph h3 {
        font-size: 1.5em;
        line-height: 2em;
    }
    
    .paragraph p {
        font-size: 1.3em;
        line-height: 2em;
    }

    /* line-intro list */

    .link-intro {
        font-size: 1.5em;
        margin: 30px 0 0 2px ;
    }
    
    .link-intro li {
        margin: 0 10px;
    }

}

@media (max-width: 500px) {

    /* parapraph text */

    .intro > .paragraph {
        padding-top: 15px;
    }

}