/* header */

header {
    position: relative;
    margin: 25px 25px 0;
}

header > .intro {
    max-width: 1080px;
    margin: 0 auto;
}

.intro > .paragraph {
    width: 70%;
    padding-top: 50px;
}

.intro > .paragraph h1 {
    font-weight: 700;
    font-size: 5em;
    animation: fadeInDown;
    animation-duration: 1s;
    margin-bottom: 30px;
    margin-left: -4px;
}

.intro > .paragraph h3 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.75em;
    animation: fadeInDown;
    animation-duration: 1.5s;
    color: rgb(139, 139, 139);
}

.paragraph p {
    font-weight: 100;
    font-size: 1.75em;
    line-height: 2.1em;
    display: inline-block;
    margin: 40px 0;
    color: #666;
    animation: fadeInDown;
    animation-duration: 2s;
}

.paragraph a {
    color: rgb(150, 150, 150);
    transition: 0.25s all ease;
    opacity: .5;
}

.paragraph a:first-child {
    color: #f36;
}

.paragraph a:nth-child(2) {
    color: #C24631;
}

.paragraph a:last-child {
    color: rgb(0, 0, 0);
}

.paragraph a:hover {
    opacity: 1;
}

#container {
    height: 2000px;
}

@media (max-width: 767px) {

    .intro > .paragraph {
        padding-top: 35px;
        width: 100%;
    }

    .intro > .paragraph h1 {
        font-size: 2.5em;
        margin-left: -3px;
    }

    .intro > .paragraph h3 {
        font-size: 1.5em;
        line-height: 2em;
    }
    
    .paragraph p {
        font-size: 1.3em;
        line-height: 2.2em;
    }

}

@media (max-width: 500px) {

    .intro > .paragraph {
        padding-top: 15px;
    } 

    .intro > .paragraph h1 {
        margin: 30px 0;
    }

}