#decoration-line {
    z-index: 1;
}

/* header */

header#header, main#container {
    width: 100%;
    position: relative;
    display: block;
    background: rgb(0,0,0);
}

header#header {
    background: rgb(0,0,0);
    margin-top: -80px;
}

section.project-header-container {
    margin: 0 auto;
}

header.project-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
}

header.project-header > img.lemuria-logo {
    max-width: 350px;
    margin-top: 80px;
    z-index: 1;
}

header.project-header > img.lemuria-banner {
    position: relative;
    margin-top: -200px;
    width: 85%;
}

/* footer */

footer#footer {
    background: rgb(0,0,0);
    margin-top: 0;
}

@media all and (max-width: 1229px) {

    header.project-header > img.lemuria-logo {
        max-width: 300px;
        margin-top: 60px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -150px;
        width: 100%;    
    }

}

@media all and (max-width: 980px) {

    header.project-header > img.lemuria-logo {
        max-width: 275px;
        margin-top: 50px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -100px;  
    }

}

@media all and (max-width: 768px) {

    header#header {
        margin-top: -61px;
    }

    header.project-header {
        padding-top: 61px !important;
    }

    header.project-header > img.lemuria-logo {
        max-width: 225px !important;
        min-height: 200px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -50px;
    }

}