#decoration-line {
    padding-top: 0;
}

.line {
    height: 15px;
    border-radius: 0;
    max-width: 100%;
}

nav {
    margin-top: -82px;
    box-shadow: 0px 3px 55px rgba(73, 73, 73, .25);
}

header {
    width: 100%;
    min-height: 700px;
    background-image: 
    url(../../img/project5/header-circle.svg),
    linear-gradient(122deg, #1cb896 36%, #2781e9 92%);
    background-repeat: no-repeat;
    background-position: 50% center;
    /* background-attachment: fixed; */
    background-size: 1750px, 100%;
    margin-top: 82px;
}

header > .header-container {
    padding-top: 82px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header-container img {
    margin-top: 150px;
    max-width: 275px;
}

.header-container p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 10px rgba(0,0,0,.25);
    animation: 1.5s scale ease infinite;
}

@keyframes scale {
    0% {
        transform: scale(0.975);
    }
    50% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(0.975);
    }
}

.header-container p::after {
    content: "";
    position: relative;
    display: block;
    width: 25px;
    height: 1px;
    margin: 35px auto 0;
    background-color: rgb(255, 255, 255);
}

main#container {
    display: block;
    position: relative;
    padding: 0;
}

section.preface-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1280px;
    margin: -35px auto 50px;
    padding: 75px 50px 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px -30px 50px -35px rgba(0,0,0,.25);
    border-radius: 5px;
}

section.preface-container .column:last-child {
    padding-left: 50px;
}

section.preface-container .left {
    width: 65%;
}

section.preface-container .right {
    width: 35%;
    display: flex;
    flex-direction: column;
}

section.preface-container h2 {
    font-size: 2em;
    color: rgb(131, 224, 201);
    border-left: 3px #83e0c9 solid;
    padding-left: 15px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 20px;
}

section.preface-container p {
    font-size: 1.5em;
    line-height: 2em;
    padding-left: 20px;
    font-weight: 100;
    margin-bottom: 25px;
}

.overview-content p:last-child {
    margin-top: 25px;
}

section.right .role {
    padding-bottom: 25px;
}

section.before-container {
    position: relative;
    display: block;
    margin: 50px auto 100px;
}

picture.before-img,
article.before-content {
    max-width: 768px;
    display: block;
    position: relative;
    margin: 0 auto;
}

picture.before-img::before, 
picture.before-img::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
}

picture.before-img::before {
    width: 250px;
    height: 250px;
    top: -25px;
    right: -50px;
    border-radius: 250px;
    background-image: linear-gradient(45deg, rgb(227, 255, 242) 50%, rgb(197, 245, 255) 100%);
    animation: 1.5s color-rotate linear infinite;
}

picture.before-img::after {
    width: 150px;
    height: 150px;
    bottom: -20px;
    left: -50px;
    border-radius: 150px;
    background-image: linear-gradient(45deg, rgb(185, 255, 223) 30%, rgb(210, 247, 255) 90%);
    animation: 2s color-rotate linear infinite;
}

article.before-content {
    padding-top: 50px;
}

article.before-content h2 {
    font-size: 2.5em;
    line-height: 0.75em;
    border-left: 3px #83e0c9 solid;
    padding-left: 15px;
    font-weight: 400;
    color: rgb(131, 224, 201);
} 

article.before-content p {
    font-size: 1.5em;
    line-height: 2em;   
    font-weight: 100;
    text-align: justify;
    padding-left: 20px;
    margin: 25px 0;
}

@keyframes color-rotate {
    0% {
        transform: scale(0.98) rotate(0deg);
    }
    
    50% {
        transform: scale(1.05) rotate(180deg);
    }

    100% {
        transform: scale(0.98) rotate(360deg);
    }
}

picture.before-img img {
    width: 100%;
}

section.main-container {
    display: block;
    position: relative;
    margin: 100px auto;
}

section.main-container > section.process-overview {
    display: flex;
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    box-shadow: 0px 25px 35px -30px rgba(0,0,0,.2);
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(67, 235, 170), rgb(31, 200, 238));
    padding: 50px;
}

section.process-overview h2, section.process-overview p {
    color: white;
}

section.process-overview h2 {
    width: 35%;
    font-size: 2.5em;
    font-weight: 400;
}

section.process-overview p {
    width: 65%;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 100;
}

/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_4.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_6.png') center center;
}


@media all and (max-width: 1350px) {

    #decoration-line {
        margin: 0;
    }

    header, main {
        padding: 0 25px !important;
    }
}

@media all and (max-width: 1229px) {
    section.main-container > section.process-overview {
        padding: 40px;
    }
    
    section.process-overview h2 {
        width: 30%;
    }
    
    section.process-overview p {
        width: 70%;
        padding-left: 15px;
    }
}

@media all and (max-width: 767px) {

    .line {
        height: 10px;
    }

    nav {
        margin-top: -62px;
    }

    header {
        background-position: center;
        background-size: 1350px, 100%;
        min-height: 500px;
        margin-top: 62px;
    }

    header > .header-container {
        padding-top: 62px;
    }

    .header-container img {
        margin-top: 115px;
        max-width: 175px;
    }

    .header-container p {
        font-size: 1.25em;
        margin-top: 30px;
    }

    .header-container p::after {
        margin: 30px auto 0;
        width: 20px;
    }

    section.preface-container {
        flex-direction: column;
        margin: 50px auto;
        padding: 0;
        box-shadow: none;
    }

    section.preface-container .column {
        width: 100%;
    }

    section.preface-container article {
        padding-bottom: 15px !important;
    }

    section.preface-container .column:last-child,
    section.right .role {
        padding: 0;
        margin: 0;
    }

    picture.before-img::before {
        width: 125px;
        height: 125px;
        top: -35px;
        right: -65px;
    }

    picture.before-img::after {
        width: 90px;
        height: 90px;
        bottom: -15px;
        left: -65px;
        opacity: 0.9;
    }

    section.preface-container h2,
    section.before-container h2 {
        font-size: 1.65em;
        padding-left: 10px;
    }

    section.preface-container p,
    section.before-container p {
        font-size: 1.25em;
        padding-left: 15px;
    }

    section.main-container {
        margin: 0px auto 100px;
    }

    section.main-container > section.process-overview {
        padding: 35px;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 15px 35px -25px rgba(0,0,0,.35);
    }
    
    section.process-overview h2 {
        width: 100%;
        font-size: 1.65em;
    }
    
    section.process-overview p {
        width: 100%;
        font-size: 1.25em;
        padding-left: 0;
        margin-top: 20px;
    }


   
}