/* general */

html, body {
    background: rgb(0,0,0) !important;
}

nav, footer#footer{
    background: hsla(0, 0%, 0%, .5) !important;
}

nav.addShadow, footer.addShadow {
    box-shadow: none;
}

.logo a, .nav-menu li a {
    color:rgb(203, 203, 203);
}

.logo a:hover, .nav-menu li a:hover {
    color: white;
}

.nav-menu li a::before {
    background-color: rgb(208, 208, 208);
    opacity: .75;
}

#decoration-line {
    z-index: 1;
}

/* header */

header#header, main#container {
    width: 100%;
    position: relative;
    display: block;
    background: rgb(0,0,0);
}

header#header {
    margin: -85px 0 25px;
}

section.project-header-container {
    margin: 0 auto;
}

header.project-header {
    padding: 85px 0;
    position: relative;
}

header.project-header > img.lemuria-logo {
    max-width: 390px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 82px;
    z-index: 1;
}

header.project-header > img.lemuria-banner {
    width: 95%;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: -250px;
   
}

header.project-header > .header-title {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -150px;
}

header.project-header > .header-title h2 {
    color: rgb(255,255,255);
    text-align: center;
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 4px;
    text-shadow: 0px 0px 25px rgb(255,255,255);
}

.header-title h2:after {
    content: '';
    width: 75px;
    height: 1px;
    background: rgb(255,255,255);
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 45px;
}

.project-header-container > main.project-main-container {
    max-width: 1080px;
    margin: 0 auto;
}

main.project-main-container h2 {
    font-size: 2.5em;
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    line-height: 2em;
    font-weight: 400;
    color: rgb(160, 160, 160);
}

main.project-main-container h2 > a {
    font-size: 1em;
    color: rgb(160, 160, 160);
    transition: .25s all ease;
    /* inherit */
}

main.project-main-container h2 > a:hover {
    opacity: .75;
}

main.project-main-container h2:first-child {
    margin-bottom: 50px;
}

main.project-main-container figure {
    text-align: center;
    margin-top: 50px;
}

main.project-main-container i.move-arrow {
    position: relative;
    color: rgb(129, 129, 129);
    font-size: 5em;
    animation: move 2s infinite;
}

@keyframes move {
    0% {
        top: 0;
    }

    50% {
        top: 30px;
    }

    to {
        top: 0;
    }
} 

/* main */

main#container {
    padding-bottom: 150px;
}

section.main-design-goal {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 100px;
}

section.main-design-goal h3 {
    font-size: 3em;
    display: block;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 15px rgb(255,255,255);
    font-weight: 400;
}

section.main-design-goal h3:after {
    content: '';
    position: relative;
    display: block;
    max-width: 75px;
    height: 1px;
    margin: 35px 0;
    left: 1px;
    background: rgb(94, 94, 94);
}

section.main-design-goal p {
    color: rgb(212, 212, 212);
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 35px;
    font-weight: 100;
}

.footer-link i {
    color: rgb(228, 228, 228);
    opacity: .75;
}


@media all and (max-width: 1229px) {

    header#header, main#container {
        padding: 0 25px;
    }

    header.project-header > img.lemuria-logo {
       max-width: 350px;
       padding-top: 75px;
    }

    header.project-header > img.lemuria-banner {
        width: 100%;
        margin-top: -150px;
    }

    header.project-header > .header-title {
        margin-top: -125px;
    }

    header.project-header > .header-title h2 {
        font-size: 3em;
    }

    main.project-main-container {
        padding: 0 25px;
    }

    main.project-main-container h2 {
        font-size: 2em;
        line-height: 2em;
    }

    section.main-design-goal {
        padding: 100px 25px 0;
    }



}

@media all and (max-width: 980px) {

    header.project-header > img.lemuria-logo {
       max-width: 300px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -100px;
    }

    header.project-header > .header-title {
        margin-top: -125px;
    }

    header.project-header > .header-title h2 {
        font-size: 2.5em;
    }

    .header-title h2:after {
        margin-top: 40px;
    }

    main.project-main-container img.move-arrow {
        width: 25px;
    }

    section.main-design-goal {
        padding: 75px 25px 0;
    }

    section.main-design-goal h3 {
        font-size: 2.25em;
    }

    section.main-design-goal p {
        font-size: 1.75em;
    }

}

@media all and (max-width: 767px) {

    .menuBtn li {
        background: rgb(203, 203, 203) !important;
    }

    .menuBtn.btnActive li {
        background:white !important;
    }

    header#header {
        margin-top: -61px;
    }

    header.project-header {
        padding: 61px 0 !important;
    }

    header.project-header > img.lemuria-logo {
        max-width: 250px;
    }

    header.project-header > img.lemuria-banner {
       margin-top: -75px;
    }

    header.project-header > .header-title {
        margin-top: -75px;
    }

    header.project-header > .header-title h2 {
        font-size: 2em;
        letter-spacing: 2.5px;
    }

    .header-title h2:after {
        margin-top: 30px;
    }

    main.project-main-container h2 {
        font-size: 1.5em;
    }

    main#container {
        padding-bottom: 75px;
    }

    main.project-main-container figure {
        margin-top: 35px;
    }

    main.project-main-container i.move-arrow {
        font-size: 3em;
    }

    section.main-design-goal {
        padding-top: 75px;
    }

    section.main-design-goal h3 {
        font-size: 2em;
    }

    section.main-design-goal h3:after {
        margin: 25px 0;
        width: 50px;
    }

    section.main-design-goal p {
        font-size: 1.5em;
    }

    .footer-link i {
        color: rgb(255, 255, 255) !important;
    }

}

@media all and (max-width: 600px) {

    header.project-header > img.lemuria-logo {
        max-width: 200px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -60px;
    }

    header.project-header > .header-title {
        margin-top: -55px;
    }

    header.project-header > .header-title h2 {
        font-size: 1.85em;
    }

    .header-title h2:after {
        margin-top: 25px;
    }

}