#decoration-line {
    padding-top: 0;
}

.line {
    height: 10px;
    border-radius: 0;
    max-width: 100%;
}

header {
    width: 100%;
    height: 600px;
    background-image: 
    url(../../img/project5/header-circle.svg),
    linear-gradient(122deg, #1cb896 36%, #2781e9 92%);
    background-repeat: no-repeat;
    background-position: center, center;
    /* background-attachment: fixed; */
    background-size: 1750px, 100%;
}

header > .header-container {
    padding-top: 82px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.header-container img {
    margin-top: 125px;
    max-width: 225px;
}

.header-container p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.header-container p::after {
    content: "";
    position: relative;
    display: block;
    width: 25px;
    height: 1px;
    margin: 35px auto 0;
    background-color: rgb(255, 255, 255);
}



/* project-main-navigator */

li.navi-btn a.prev-img {
    background: url('../../img/index/index_4.png') center center;   
}

li.navi-btn a.next-img {
    background: url('../../img/index/index_6.png') center center;
}

@media all and (max-width: 1229px) {

    #decoration-line {
        margin: 0;
    }

    header, main {
        padding: 0 25px;
    }
}

@media all and (max-width: 767px) {

    header {
        background-position: center;
        background-size: 1350px, 100%;
        height: 550px;
    }

    header > .header-container {
        padding-top: 62px;
    }

    .header-container img {
        margin-top: 135px;
        max-width: 175px;
    }

    .header-container p {
        font-size: 1.25em;
        margin-top: 30px;
    }
   
}