#decoration-line {
    z-index: 1;
}

/* header */

header#header, main#container {
    width: 100%;
    position: relative;
    display: block;
    background: rgb(0,0,0);
}

header#header {
    background: rgb(0,0,0);
    margin-top: -82px;
}

section.project-header-container {
    margin: 0 auto;
}

header.project-header {
    padding: 82px 0;
    position: relative;
}

header.project-header > img.lemuria-logo {
    max-width: 390px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 82px;
    z-index: 1;
}

header.project-header > img.lemuria-banner {
    width: 90%;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: -200px;
   
}

header.project-header > .header-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: -150px;
}

header.project-header > .header-title h2 {
    color: rgb(255,255,255);
    text-align: center;
    font-family: 'Karla', 'Noto Sans TC', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
    letter-spacing: 4px;
}

.header-title h2:after {
    content: '';
    width: 75px;
    height: 1px;
    background: rgb(255,255,255);
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 45px;
}


/* footer */

footer#footer {
    background: rgb(0,0,0);
    margin-top: 0;
}

@media all and (max-width: 1229px) {

    header#header, main#container {
        padding: 0 25px;
    }

    header.project-header > img.lemuria-logo {
       max-width: 350px;
       padding-top: 75px;
    }

    header.project-header > img.lemuria-banner {
        width: 100%;
        margin-top: -150px;
    }

    header.project-header > .header-title {
        margin-top: -125px;
    }

    header.project-header > .header-title h2 {
        font-size: 3em;
    }

}

@media all and (max-width: 980px) {

    header.project-header > img.lemuria-logo {
       max-width: 300px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -100px;
    }

    header.project-header > .header-title {
        margin-top: -125px;
    }

    header.project-header > .header-title h2 {
        font-size: 2.5em;
    }

    .header-title h2:after {
        margin-top: 40px;
    }

}

@media all and (max-width: 768px) {

    header#header {
        margin-top: -61px;
    }

    header.project-header {
        padding: 61px 0 !important;
    }

    header.project-header > img.lemuria-logo {
        max-width: 250px;
    }

    header.project-header > img.lemuria-banner {
       margin-top: -75px;
    }

    header.project-header > .header-title {
        margin-top: -75px;
    }

    header.project-header > .header-title h2 {
        font-size: 2.25em;
    }

    .header-title h2:after {
        margin-top: 30px;
    }

}

@media all and (max-width: 600px) {

    header.project-header > img.lemuria-logo {
        max-width: 200px;
    }

    header.project-header > img.lemuria-banner {
        margin-top: -60px;
    }

}